<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwuweiyang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{621,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,234}}</string>
                <key>sourceSize</key>
                <string>{621,234}</string>
            </dict>
            <key>chongwuweiyang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,0},{615,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,225}}</string>
                <key>sourceSize</key>
                <string>{615,225}</string>
            </dict>
            <key>chongwuweiyang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,0},{521,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,209}}</string>
                <key>sourceSize</key>
                <string>{521,209}</string>
            </dict>
            <key>chongwuweiyang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,185},{180,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,284}}</string>
                <key>sourceSize</key>
                <string>{180,284}</string>
            </dict>
            <key>chongwuweiyang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,857},{252,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,316}}</string>
                <key>sourceSize</key>
                <string>{252,316}</string>
            </dict>
            <key>chongwuweiyang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,872},{243,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,412}}</string>
                <key>sourceSize</key>
                <string>{243,412}</string>
            </dict>
            <key>chongwuweiyang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,681},{220,481}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,481}}</string>
                <key>sourceSize</key>
                <string>{220,481}</string>
            </dict>
            <key>chongwuweiyang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,209},{235,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,520}}</string>
                <key>sourceSize</key>
                <string>{235,520}</string>
            </dict>
            <key>chongwuweiyang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,444},{255,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,518}}</string>
                <key>sourceSize</key>
                <string>{255,518}</string>
            </dict>
            <key>chongwuweiyang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,365},{274,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,492}}</string>
                <key>sourceSize</key>
                <string>{274,492}</string>
            </dict>
            <key>chongwuweiyang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,901},{273,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,475}}</string>
                <key>sourceSize</key>
                <string>{273,475}</string>
            </dict>
            <key>chongwuweiyang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,428},{242,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,499}}</string>
                <key>sourceSize</key>
                <string>{242,499}</string>
            </dict>
            <key>chongwuweiyang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,435},{246,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,509}}</string>
                <key>sourceSize</key>
                <string>{246,509}</string>
            </dict>
            <key>chongwuweiyang_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,699},{58,93}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,93}}</string>
                <key>sourceSize</key>
                <string>{58,99}</string>
            </dict>
            <key>chongwuweiyang_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1274},{101,154}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,154}}</string>
                <key>sourceSize</key>
                <string>{103,164}</string>
            </dict>
            <key>chongwuweiyang_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1215},{101,206}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,206}}</string>
                <key>sourceSize</key>
                <string>{103,216}</string>
            </dict>
            <key>chongwuweiyang_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,706},{102,240}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,240}}</string>
                <key>sourceSize</key>
                <string>{104,250}</string>
            </dict>
            <key>chongwuweiyang_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1302},{98,209}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,209}}</string>
                <key>sourceSize</key>
                <string>{100,219}</string>
            </dict>
            <key>chongwuweiyang_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1302},{92,184}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,184}}</string>
                <key>sourceSize</key>
                <string>{94,194}</string>
            </dict>
            <key>chongwuweiyang_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1274},{90,167}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,167}}</string>
                <key>sourceSize</key>
                <string>{92,177}</string>
            </dict>
            <key>chongwuweiyang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{201,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,518}}</string>
                <key>sourceSize</key>
                <string>{201,518}</string>
            </dict>
            <key>chongwuweiyang_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,0},{185,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,286}}</string>
                <key>sourceSize</key>
                <string>{185,286}</string>
            </dict>
            <key>chongwuweiyang_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,397},{93,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,158}}</string>
                <key>sourceSize</key>
                <string>{93,158}</string>
            </dict>
            <key>chongwuweiyang_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1115},{187,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,371}}</string>
                <key>sourceSize</key>
                <string>{187,371}</string>
            </dict>
            <key>chongwuweiyang_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1001},{88,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,180}}</string>
                <key>sourceSize</key>
                <string>{88,180}</string>
            </dict>
            <key>chongwuweiyang_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,900},{198,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,437}}</string>
                <key>sourceSize</key>
                <string>{198,437}</string>
            </dict>
            <key>chongwuweiyang_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1174},{100,232}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,232}}</string>
                <key>sourceSize</key>
                <string>{100,234}</string>
            </dict>
            <key>chongwuweiyang_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,699},{201,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,465}}</string>
                <key>sourceSize</key>
                <string>{201,465}</string>
            </dict>
            <key>chongwuweiyang_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1174},{100,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,237}}</string>
                <key>sourceSize</key>
                <string>{100,237}</string>
            </dict>
            <key>chongwuweiyang_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,670},{202,499}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,499}}</string>
                <key>sourceSize</key>
                <string>{202,499}</string>
            </dict>
            <key>chongwuweiyang_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,946},{101,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,254}}</string>
                <key>sourceSize</key>
                <string>{101,254}</string>
            </dict>
            <key>chongwuweiyang_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,225},{203,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,519}}</string>
                <key>sourceSize</key>
                <string>{203,519}</string>
            </dict>
            <key>chongwuweiyang_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,234},{102,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,247}}</string>
                <key>sourceSize</key>
                <string>{102,247}</string>
            </dict>
            <key>chongwuweiyang_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,968},{86,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,127}}</string>
                <key>sourceSize</key>
                <string>{86,127}</string>
            </dict>
            <key>chongwuweiyang_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,872},{89,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,129}}</string>
                <key>sourceSize</key>
                <string>{89,129}</string>
            </dict>
            <key>chongwuweiyang_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,225},{96,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,129}}</string>
                <key>sourceSize</key>
                <string>{96,129}</string>
            </dict>
            <key>chongwuweiyang_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,863},{105,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,133}}</string>
                <key>sourceSize</key>
                <string>{105,133}</string>
            </dict>
            <key>chongwuweiyang_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,545},{107,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,141}}</string>
                <key>sourceSize</key>
                <string>{107,141}</string>
            </dict>
            <key>chongwuweiyang_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,555},{113,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,151}}</string>
                <key>sourceSize</key>
                <string>{113,151}</string>
            </dict>
            <key>chongwuweiyang_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1054},{119,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,161}}</string>
                <key>sourceSize</key>
                <string>{119,161}</string>
            </dict>
            <key>chongwuweiyang_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,686},{134,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,177}}</string>
                <key>sourceSize</key>
                <string>{134,177}</string>
            </dict>
            <key>chongwuweiyang_309.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1181},{142,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,182}}</string>
                <key>sourceSize</key>
                <string>{142,182}</string>
            </dict>
            <key>chongwuweiyang_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,481},{109,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,64}}</string>
                <key>sourceSize</key>
                <string>{109,64}</string>
            </dict>
            <key>chongwuweiyang_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,354},{94,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,43}}</string>
                <key>sourceSize</key>
                <string>{94,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwuweiyang.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a9c3d28c9e6d04167fbf48158a7e62f$</string>
            <key>textureFileName</key>
            <string>chongwuweiyang.png</string>
        </dict>
    </dict>
</plist>
