<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>load_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{242,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,189}}</string>
                <key>sourceSize</key>
                <string>{242,189}</string>
            </dict>
            <key>load_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,377},{242,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,188}}</string>
                <key>sourceSize</key>
                <string>{242,188}</string>
            </dict>
            <key>load_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,565},{242,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,187}}</string>
                <key>sourceSize</key>
                <string>{242,187}</string>
            </dict>
            <key>load_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,189}}</string>
                <key>sourceSize</key>
                <string>{242,189}</string>
            </dict>
            <key>load_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{242,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,188}}</string>
                <key>sourceSize</key>
                <string>{242,188}</string>
            </dict>
            <key>load_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,189},{242,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,188}}</string>
                <key>sourceSize</key>
                <string>{242,188}</string>
            </dict>
            <key>load_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,807},{242,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,186}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>load_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,189},{242,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,188}}</string>
                <key>sourceSize</key>
                <string>{242,188}</string>
            </dict>
            <key>load_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,565},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>load_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>load_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>load.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd745e6bf9a9e8473572f4b5c90767c4$</string>
            <key>textureFileName</key>
            <string>load.png</string>
        </dict>
    </dict>
</plist>
