<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengjilibao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{107,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>dengjilibaofaguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,119}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{127,119}}</string>
                <key>sourceSize</key>
                <string>{137,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dengjilibao.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c77d1a45482f1ee035bc02b9afe150f$</string>
            <key>textureFileName</key>
            <string>dengjilibao.png</string>
        </dict>
    </dict>
</plist>
