<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai001.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,871},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>bai002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,722},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>dou001.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,644},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>dou002.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,644},{72,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,79}}</string>
                <key>sourceSize</key>
                <string>{72,79}</string>
            </dict>
            <key>jianyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,209},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,187}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>jianzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,186},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,187}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>languang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{551,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,558}}</string>
                <key>sourceSize</key>
                <string>{551,558}</string>
            </dict>
            <key>luoshi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,991},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>luoshi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,558},{85,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,50}}</string>
                <key>sourceSize</key>
                <string>{85,50}</string>
            </dict>
            <key>luoshi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,716},{130,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,63}}</string>
                <key>sourceSize</key>
                <string>{130,63}</string>
            </dict>
            <key>luoshi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,558},{177,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,86}}</string>
                <key>sourceSize</key>
                <string>{177,86}</string>
            </dict>
            <key>luoshi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{223,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,108}}</string>
                <key>sourceSize</key>
                <string>{223,108}</string>
            </dict>
            <key>luoshi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,716},{275,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,154}}</string>
                <key>sourceSize</key>
                <string>{275,154}</string>
            </dict>
            <key>luoshi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,716},{265,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,155}}</string>
                <key>sourceSize</key>
                <string>{265,155}</string>
            </dict>
            <key>luoshi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,848},{267,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,171}}</string>
                <key>sourceSize</key>
                <string>{267,171}</string>
            </dict>
            <key>luoshi09.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{221,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,186}}</string>
                <key>sourceSize</key>
                <string>{221,186}</string>
            </dict>
            <key>luoshi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,0},{227,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,209}}</string>
                <key>sourceSize</key>
                <string>{227,209}</string>
            </dict>
            <key>luoshi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,949},{67,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,71}}</string>
                <key>sourceSize</key>
                <string>{67,71}</string>
            </dict>
            <key>luoshi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,848},{34,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,60}}</string>
                <key>sourceSize</key>
                <string>{34,60}</string>
            </dict>
            <key>shi001.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,949},{77,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,75}}</string>
                <key>sourceSize</key>
                <string>{77,75}</string>
            </dict>
            <key>shi002.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,871},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>shibaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,558},{352,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,170}}</string>
                <key>sourceSize</key>
                <string>{352,170}</string>
            </dict>
            <key>shibaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,558},{290,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,74}}</string>
                <key>sourceSize</key>
                <string>{290,74}</string>
            </dict>
            <key>shitouqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,558},{529,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,158}}</string>
                <key>sourceSize</key>
                <string>{529,158}</string>
            </dict>
            <key>zhan001.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,644},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>zhan002.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,716},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>zhandoushibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,716},{272,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,78}}</string>
                <key>sourceSize</key>
                <string>{272,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhandoushibai.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e41382716bd54c853ca4b7a8e44cf0e$</string>
            <key>textureFileName</key>
            <string>zhandoushibai.png</string>
        </dict>
    </dict>
</plist>
