<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,752},{148,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,112}}</string>
                <key>sourceSize</key>
                <string>{148,112}</string>
            </dict>
            <key>gaoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,896},{187,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,120}}</string>
                <key>sourceSize</key>
                <string>{187,120}</string>
            </dict>
            <key>gaoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,983},{184,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,122}}</string>
                <key>sourceSize</key>
                <string>{184,122}</string>
            </dict>
            <key>gaoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{156,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,127}}</string>
                <key>sourceSize</key>
                <string>{156,127}</string>
            </dict>
            <key>gaoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1003},{146,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,127}}</string>
                <key>sourceSize</key>
                <string>{146,127}</string>
            </dict>
            <key>gaoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1039},{146,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,125}}</string>
                <key>sourceSize</key>
                <string>{146,125}</string>
            </dict>
            <key>gaoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1018},{164,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,124}}</string>
                <key>sourceSize</key>
                <string>{164,124}</string>
            </dict>
            <key>gaoguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,771},{191,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,123}}</string>
                <key>sourceSize</key>
                <string>{191,123}</string>
            </dict>
            <key>gaoguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1018},{178,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,121}}</string>
                <key>sourceSize</key>
                <string>{178,121}</string>
            </dict>
            <key>gaoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,902},{135,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,106}}</string>
                <key>sourceSize</key>
                <string>{135,106}</string>
            </dict>
            <key>lizibao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,866},{232,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,115}}</string>
                <key>sourceSize</key>
                <string>{232,115}</string>
            </dict>
            <key>lizibao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{371,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,249}}</string>
                <key>sourceSize</key>
                <string>{371,249}</string>
            </dict>
            <key>lizibao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{455,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,345}}</string>
                <key>sourceSize</key>
                <string>{455,345}</string>
            </dict>
            <key>lizibao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{487,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,404}}</string>
                <key>sourceSize</key>
                <string>{487,404}</string>
            </dict>
            <key>lizibao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,349},{440,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,420}}</string>
                <key>sourceSize</key>
                <string>{440,420}</string>
            </dict>
            <key>lizibao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{342,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,403}}</string>
                <key>sourceSize</key>
                <string>{342,403}</string>
            </dict>
            <key>zscgwenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,771},{306,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,93}}</string>
                <key>sourceSize</key>
                <string>{306,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhuanshengchenggong.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63133637f49a28a094883804d586538e:1/1$</string>
            <key>textureFileName</key>
            <string>zhuanshengchenggong.png</string>
        </dict>
    </dict>
</plist>
