<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heidong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>heidong_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,532},{158,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,166}}</string>
                <key>sourceSize</key>
                <string>{158,166}</string>
            </dict>
            <key>heidong_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,554},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>heidong_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{160,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,175}}</string>
                <key>sourceSize</key>
                <string>{160,175}</string>
            </dict>
            <key>heidong_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,364},{160,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,166}</string>
            </dict>
            <key>heidong_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,187},{160,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,175}}</string>
                <key>sourceSize</key>
                <string>{160,175}</string>
            </dict>
            <key>heidong_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,848},{160,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,166}}</string>
                <key>sourceSize</key>
                <string>{160,166}</string>
            </dict>
            <key>heidong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,162},{147,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,148}}</string>
                <key>sourceSize</key>
                <string>{147,148}</string>
            </dict>
            <key>heidong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>heidong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{160,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,183}}</string>
                <key>sourceSize</key>
                <string>{160,183}</string>
            </dict>
            <key>heidong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,842},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>heidong_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{160,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,196}}</string>
                <key>sourceSize</key>
                <string>{160,196}</string>
            </dict>
            <key>heidong_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,200},{160,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,189}}</string>
                <key>sourceSize</key>
                <string>{160,189}</string>
            </dict>
            <key>heidong_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,734},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>heidong_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,391},{160,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{160,161}</string>
            </dict>
            <key>heidong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,329}}</string>
                <key>sourceSize</key>
                <string>{296,329}</string>
            </dict>
            <key>heidong_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{236,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,281}}</string>
                <key>sourceSize</key>
                <string>{236,281}</string>
            </dict>
            <key>heidong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,616},{176,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,224}}</string>
                <key>sourceSize</key>
                <string>{176,224}</string>
            </dict>
            <key>heidong_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{230,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,173}}</string>
                <key>sourceSize</key>
                <string>{230,173}</string>
            </dict>
            <key>heidong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,333},{221,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,145}}</string>
                <key>sourceSize</key>
                <string>{221,145}</string>
            </dict>
            <key>heidong_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,606},{210,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,110}}</string>
                <key>sourceSize</key>
                <string>{210,110}</string>
            </dict>
            <key>heidong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,556},{148,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,48}}</string>
                <key>sourceSize</key>
                <string>{148,48}</string>
            </dict>
            <key>heidong_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,818},{36,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,16}}</string>
                <key>sourceSize</key>
                <string>{36,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heidong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfae89a66d173b50701834f1424dc012$</string>
            <key>textureFileName</key>
            <string>heidong.png</string>
        </dict>
    </dict>
</plist>
