<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,134}}</string>
                <key>sourceSize</key>
                <string>{108,134}</string>
            </dict>
            <key>tihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,134},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{93,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,28}}</string>
                <key>sourceSize</key>
                <string>{93,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fbjdmu.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e41f4410a5d4f1005d0bd45e03a09f37$</string>
            <key>textureFileName</key>
            <string>fbjdmu.png</string>
        </dict>
    </dict>
</plist>
