<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,134}}</string>
                <key>sourceSize</key>
                <string>{160,134}</string>
            </dict>
            <key>tihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,28},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{93,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,28}}</string>
                <key>sourceSize</key>
                <string>{93,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fbjdjin.png</string>
            <key>size</key>
            <string>{253,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f734b29fea3ec540bd2c0d026874584$</string>
            <key>textureFileName</key>
            <string>fbjdjin.png</string>
        </dict>
    </dict>
</plist>
