<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanpan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,725},{226,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,80}}</string>
                <key>sourceSize</key>
                <string>{226,80}</string>
            </dict>
            <key>yuanpan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,314},{249,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,108}}</string>
                <key>sourceSize</key>
                <string>{249,108}</string>
            </dict>
            <key>yuanpan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{263,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,118}}</string>
                <key>sourceSize</key>
                <string>{263,118}</string>
            </dict>
            <key>yuanpan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,0},{239,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,105}}</string>
                <key>sourceSize</key>
                <string>{239,105}</string>
            </dict>
            <key>yuanpan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{229,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,92}}</string>
                <key>sourceSize</key>
                <string>{229,92}</string>
            </dict>
            <key>yuanpan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{263,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,119}}</string>
                <key>sourceSize</key>
                <string>{263,119}</string>
            </dict>
            <key>yuanpan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{267,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,123}}</string>
                <key>sourceSize</key>
                <string>{267,123}</string>
            </dict>
            <key>yuanpan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,105},{239,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,103}}</string>
                <key>sourceSize</key>
                <string>{239,103}</string>
            </dict>
            <key>yuanpan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,530},{237,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,103}}</string>
                <key>sourceSize</key>
                <string>{237,103}</string>
            </dict>
            <key>yuanpan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{269,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,123}}</string>
                <key>sourceSize</key>
                <string>{269,123}</string>
            </dict>
            <key>yuanpan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,601},{258,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,119}}</string>
                <key>sourceSize</key>
                <string>{258,119}</string>
            </dict>
            <key>yuanpan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,633},{230,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,92}}</string>
                <key>sourceSize</key>
                <string>{230,92}</string>
            </dict>
            <key>yuanpan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,208},{245,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,106}}</string>
                <key>sourceSize</key>
                <string>{245,106}</string>
            </dict>
            <key>yuanpan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{263,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,118}}</string>
                <key>sourceSize</key>
                <string>{263,118}</string>
            </dict>
            <key>yuanpan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,422},{244,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,108}}</string>
                <key>sourceSize</key>
                <string>{244,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fubenkegongji01.png</string>
            <key>size</key>
            <string>{512,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c55159bb937494475c4353a4360ddb$</string>
            <key>textureFileName</key>
            <string>fubenkegongji01.png</string>
        </dict>
    </dict>
</plist>
