<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingzhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,186},{101,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,128}}</string>
                <key>sourceSize</key>
                <string>{101,128}</string>
            </dict>
            <key>yan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,186},{89,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,112}}</string>
                <key>sourceSize</key>
                <string>{89,112}</string>
            </dict>
            <key>yan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,298},{101,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,105}}</string>
                <key>sourceSize</key>
                <string>{101,105}</string>
            </dict>
            <key>yan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,399},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>yan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,399},{102,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,117}}</string>
                <key>sourceSize</key>
                <string>{102,117}</string>
            </dict>
            <key>yan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,88},{98,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,129}}</string>
                <key>sourceSize</key>
                <string>{98,129}</string>
            </dict>
            <key>yan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,280},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,119}}</string>
                <key>sourceSize</key>
                <string>{90,119}</string>
            </dict>
            <key>yan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,123},{92,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,127}}</string>
                <key>sourceSize</key>
                <string>{92,127}</string>
            </dict>
            <key>yan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,143},{103,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,137}}</string>
                <key>sourceSize</key>
                <string>{103,137}</string>
            </dict>
            <key>yan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{103,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,139}}</string>
                <key>sourceSize</key>
                <string>{103,139}</string>
            </dict>
            <key>yan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{93,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,145}}</string>
                <key>sourceSize</key>
                <string>{93,145}</string>
            </dict>
            <key>yan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,0},{95,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,123}}</string>
                <key>sourceSize</key>
                <string>{95,123}</string>
            </dict>
            <key>yan_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{88,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,132}}</string>
                <key>sourceSize</key>
                <string>{88,132}</string>
            </dict>
            <key>yan_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,0},{96,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,143}}</string>
                <key>sourceSize</key>
                <string>{96,143}</string>
            </dict>
            <key>yan_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{91,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,152}}</string>
                <key>sourceSize</key>
                <string>{91,152}</string>
            </dict>
            <key>yan_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,0},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fubenkegongji02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89fa632c49e49f8a35eb9c49ef3d22dc$</string>
            <key>textureFileName</key>
            <string>fubenkegongji02.png</string>
        </dict>
    </dict>
</plist>
