<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beffect_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,159},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>beffect_15_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,179},{155,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,85}}</string>
                <key>sourceSize</key>
                <string>{155,85}</string>
            </dict>
            <key>beffect_15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,359},{184,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{184,107}}</string>
                <key>sourceSize</key>
                <string>{184,107}</string>
            </dict>
            <key>beffect_15_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{191,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{191,127}}</string>
                <key>sourceSize</key>
                <string>{191,127}</string>
            </dict>
            <key>beffect_15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{243,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,158}}</string>
                <key>sourceSize</key>
                <string>{243,158}</string>
            </dict>
            <key>beffect_15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{234,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,178}}</string>
                <key>sourceSize</key>
                <string>{234,178}</string>
            </dict>
            <key>beffect_15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{233,199}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{233,199}}</string>
                <key>sourceSize</key>
                <string>{233,199}</string>
            </dict>
            <key>beffect_15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,467},{82,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,35}}</string>
                <key>sourceSize</key>
                <string>{82,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beffect_15.png</string>
            <key>size</key>
            <string>{478,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42e31673291eba7c74bc0799b5add38a$</string>
            <key>textureFileName</key>
            <string>beffect_15.png</string>
        </dict>
    </dict>
</plist>
