<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianchihu_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{472,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,115}}</string>
                <key>sourceSize</key>
                <string>{472,115}</string>
            </dict>
            <key>jianchihu_stand_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,974},{45,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,81}}</string>
                <key>sourceSize</key>
                <string>{45,81}</string>
            </dict>
            <key>jianchihu_stand_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,316},{116,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,169}}</string>
                <key>sourceSize</key>
                <string>{116,169}</string>
            </dict>
            <key>jianchihu_stand_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,432},{167,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,205}}</string>
                <key>sourceSize</key>
                <string>{167,205}</string>
            </dict>
            <key>jianchihu_stand_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,297},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,52}}</string>
                <key>sourceSize</key>
                <string>{60,52}</string>
            </dict>
            <key>jianchihu_stand_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,637},{78,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,65}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>jianchihu_stand_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,633},{108,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,87}}</string>
                <key>sourceSize</key>
                <string>{108,87}</string>
            </dict>
            <key>jianchihu_stand_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,853},{71,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,55}}</string>
                <key>sourceSize</key>
                <string>{71,55}</string>
            </dict>
            <key>jianchihu_stand_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{216,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,193}}</string>
                <key>sourceSize</key>
                <string>{216,193}</string>
            </dict>
            <key>jianchihu_stand_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,637},{111,85}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{111,85}}</string>
                <key>sourceSize</key>
                <string>{121,101}</string>
            </dict>
            <key>jianchihu_stand_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,766},{63,87}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{63,87}}</string>
                <key>sourceSize</key>
                <string>{85,97}</string>
            </dict>
            <key>jianchihu_stand_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,222},{75,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,52}}</string>
                <key>sourceSize</key>
                <string>{75,52}</string>
            </dict>
            <key>jianchihu_stand_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,974},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>jianchihu_stand_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,766},{204,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,94}}</string>
                <key>sourceSize</key>
                <string>{204,94}</string>
            </dict>
            <key>jianchihu_stand_610.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{282,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,161}}</string>
                <key>sourceSize</key>
                <string>{282,161}</string>
            </dict>
            <key>jianchihu_stand_611.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,115},{201,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,166}}</string>
                <key>sourceSize</key>
                <string>{201,166}</string>
            </dict>
            <key>jianchihu_stand_612.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,766},{208,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,137}}</string>
                <key>sourceSize</key>
                <string>{208,137}</string>
            </dict>
            <key>jianchihu_stand_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,637},{211,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,116}}</string>
                <key>sourceSize</key>
                <string>{211,116}</string>
            </dict>
            <key>jianchihu_stand_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{219,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,134}}</string>
                <key>sourceSize</key>
                <string>{219,134}</string>
            </dict>
            <key>jianchihu_stand_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,369},{251,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,140}}</string>
                <key>sourceSize</key>
                <string>{251,140}</string>
            </dict>
            <key>jianchihu_stand_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,222},{300,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,167}}</string>
                <key>sourceSize</key>
                <string>{300,167}</string>
            </dict>
            <key>jianchihu_stand_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{300,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,222}}</string>
                <key>sourceSize</key>
                <string>{300,222}</string>
            </dict>
            <key>jianchihu_stand_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,509},{254,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,257}}</string>
                <key>sourceSize</key>
                <string>{254,257}</string>
            </dict>
            <key>jianchihu_stand_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,389},{299,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,204}}</string>
                <key>sourceSize</key>
                <string>{299,204}</string>
            </dict>
            <key>jianchihu_stand_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,115},{306,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,135}}</string>
                <key>sourceSize</key>
                <string>{306,135}</string>
            </dict>
            <key>jianchihu_stand_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{352,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,222}}</string>
                <key>sourceSize</key>
                <string>{352,222}</string>
            </dict>
            <key>jianchihu_stand_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,216},{153,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,172}}</string>
                <key>sourceSize</key>
                <string>{153,172}</string>
            </dict>
            <key>jianchihu_stand_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,216},{19,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,58}}</string>
                <key>sourceSize</key>
                <string>{19,58}</string>
            </dict>
            <key>jianchihu_stand_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianchihu_stand.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:330281db720828e405a069ccb5d92a47$</string>
            <key>textureFileName</key>
            <string>jianchihu_stand.png</string>
        </dict>
    </dict>
</plist>
