<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beffect_7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{208,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,139}}</string>
                <key>sourceSize</key>
                <string>{208,139}</string>
            </dict>
            <key>beffect_7_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,135},{207,130}}</string>
                <key>offset</key>
                <string>{-24,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{207,130}}</string>
                <key>sourceSize</key>
                <string>{255,178}</string>
            </dict>
            <key>beffect_7_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,526},{196,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,129}}</string>
                <key>sourceSize</key>
                <string>{196,129}</string>
            </dict>
            <key>beffect_7_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,682},{186,142}}</string>
                <key>offset</key>
                <string>{-26,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,52},{186,142}}</string>
                <key>sourceSize</key>
                <string>{238,194}</string>
            </dict>
            <key>beffect_7_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,387},{196,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,139}}</string>
                <key>sourceSize</key>
                <string>{196,139}</string>
            </dict>
            <key>beffect_7_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,655},{193,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,133}}</string>
                <key>sourceSize</key>
                <string>{193,133}</string>
            </dict>
            <key>beffect_7_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,887},{170,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,137}}</string>
                <key>sourceSize</key>
                <string>{170,137}</string>
            </dict>
            <key>beffect_7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,0},{210,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,135}}</string>
                <key>sourceSize</key>
                <string>{210,135}</string>
            </dict>
            <key>beffect_7_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,265},{202,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,122}}</string>
                <key>sourceSize</key>
                <string>{202,122}</string>
            </dict>
            <key>beffect_7_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,887},{180,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,136}}</string>
                <key>sourceSize</key>
                <string>{180,136}</string>
            </dict>
            <key>beffect_7_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{200,137}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{200,137}}</string>
                <key>sourceSize</key>
                <string>{240,193}</string>
            </dict>
            <key>beffect_7_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{194,134}}</string>
                <key>offset</key>
                <string>{-20,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{194,134}}</string>
                <key>sourceSize</key>
                <string>{234,192}</string>
            </dict>
            <key>beffect_7_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,700},{187,123}}</string>
                <key>offset</key>
                <string>{-21,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,66},{187,123}}</string>
                <key>sourceSize</key>
                <string>{229,189}</string>
            </dict>
            <key>beffect_7_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{196,138}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{196,138}}</string>
                <key>sourceSize</key>
                <string>{240,186}</string>
            </dict>
            <key>beffect_7_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{213,134}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{213,134}}</string>
                <key>sourceSize</key>
                <string>{257,182}</string>
            </dict>
            <key>beffect_7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,788},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
            <key>beffect_7_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,589},{53,94}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{53,94}}</string>
                <key>sourceSize</key>
                <string>{99,114}</string>
            </dict>
            <key>beffect_7_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,642},{58,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,93}}</string>
                <key>sourceSize</key>
                <string>{58,95}</string>
            </dict>
            <key>beffect_7_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,258},{64,94}}</string>
                <key>offset</key>
                <string>{-19,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{64,94}}</string>
                <key>sourceSize</key>
                <string>{102,114}</string>
            </dict>
            <key>beffect_7_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,788},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>beffect_7_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,74},{72,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,82}}</string>
                <key>sourceSize</key>
                <string>{72,82}</string>
            </dict>
            <key>beffect_7_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{74,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,87}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>beffect_7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,146},{58,96}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>beffect_7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,531},{58,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,99}}</string>
                <key>sourceSize</key>
                <string>{58,99}</string>
            </dict>
            <key>beffect_7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,375},{51,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,100}}</string>
                <key>sourceSize</key>
                <string>{51,100}</string>
            </dict>
            <key>beffect_7_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,426},{53,104}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,104}}</string>
                <key>sourceSize</key>
                <string>{95,108}</string>
            </dict>
            <key>beffect_7_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,204},{54,95}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{54,95}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>beffect_7_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,322},{53,100}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{53,100}}</string>
                <key>sourceSize</key>
                <string>{95,104}</string>
            </dict>
            <key>beffect_7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,479},{52,104}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,104}}</string>
                <key>sourceSize</key>
                <string>{96,108}</string>
            </dict>
            <key>beffect_7_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{51,92}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{51,92}}</string>
                <key>sourceSize</key>
                <string>{97,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beffect_7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20929b41d9a1e8ccb6504e4a30141165$</string>
            <key>textureFileName</key>
            <string>beffect_7.png</string>
        </dict>
    </dict>
</plist>
