<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beffect_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,181},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>beffect_4_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{131,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,97}}</string>
                <key>sourceSize</key>
                <string>{131,97}</string>
            </dict>
            <key>beffect_4_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,85},{131,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,102}}</string>
                <key>sourceSize</key>
                <string>{131,102}</string>
            </dict>
            <key>beffect_4_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,267},{130,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,78}}</string>
                <key>sourceSize</key>
                <string>{130,78}</string>
            </dict>
            <key>beffect_4_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,345},{128,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,77}}</string>
                <key>sourceSize</key>
                <string>{128,77}</string>
            </dict>
            <key>beffect_4_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,261},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>beffect_4_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{130,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,83}}</string>
                <key>sourceSize</key>
                <string>{130,83}</string>
            </dict>
            <key>beffect_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{131,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,96}}</string>
                <key>sourceSize</key>
                <string>{131,96}</string>
            </dict>
            <key>beffect_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{135,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,85}}</string>
                <key>sourceSize</key>
                <string>{135,85}</string>
            </dict>
            <key>beffect_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{132,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,91}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>beffect_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{135,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,91}}</string>
                <key>sourceSize</key>
                <string>{135,91}</string>
            </dict>
            <key>beffect_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{129,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,80}}</string>
                <key>sourceSize</key>
                <string>{129,80}</string>
            </dict>
            <key>beffect_4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,187},{130,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,84}}</string>
                <key>sourceSize</key>
                <string>{130,84}</string>
            </dict>
            <key>beffect_4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,91},{130,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,90}}</string>
                <key>sourceSize</key>
                <string>{130,90}</string>
            </dict>
            <key>beffect_4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,131},{130,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,89}}</string>
                <key>sourceSize</key>
                <string>{130,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beffect_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e08dfd63aec303dde832b68704e581c4$</string>
            <key>textureFileName</key>
            <string>beffect_4.png</string>
        </dict>
    </dict>
</plist>
