<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beffect_2_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,401},{111,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,41}}</string>
                <key>sourceSize</key>
                <string>{111,41}</string>
            </dict>
            <key>beffect_2_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,371},{113,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,39}}</string>
                <key>sourceSize</key>
                <string>{113,39}</string>
            </dict>
            <key>beffect_2_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,315},{115,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>beffect_2_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,371},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>beffect_2_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,371},{118,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{118,44}</string>
            </dict>
            <key>beffect_2_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{119,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,49}}</string>
                <key>sourceSize</key>
                <string>{119,49}</string>
            </dict>
            <key>beffect_2_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,359},{116,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,42}}</string>
                <key>sourceSize</key>
                <string>{116,42}</string>
            </dict>
            <key>beffect_2_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,315},{85,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,46}}</string>
                <key>sourceSize</key>
                <string>{85,46}</string>
            </dict>
            <key>beffect_2_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,119},{85,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>beffect_2_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,471},{88,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,40}}</string>
                <key>sourceSize</key>
                <string>{88,40}</string>
            </dict>
            <key>beffect_2_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,413},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>beffect_2_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,371},{99,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,42}}</string>
                <key>sourceSize</key>
                <string>{99,42}</string>
            </dict>
            <key>beffect_2_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,371},{100,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,35}}</string>
                <key>sourceSize</key>
                <string>{100,35}</string>
            </dict>
            <key>beffect_2_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,401},{107,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,41}}</string>
                <key>sourceSize</key>
                <string>{107,41}</string>
            </dict>
            <key>beffect_2_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,401},{109,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,44}}</string>
                <key>sourceSize</key>
                <string>{109,44}</string>
            </dict>
            <key>beffect_2_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,293},{141,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,78}}</string>
                <key>sourceSize</key>
                <string>{141,78}</string>
            </dict>
            <key>beffect_2_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,226},{143,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,78}}</string>
                <key>sourceSize</key>
                <string>{143,78}</string>
            </dict>
            <key>beffect_2_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{144,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,86}}</string>
                <key>sourceSize</key>
                <string>{144,86}</string>
            </dict>
            <key>beffect_2_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,220},{144,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,73}}</string>
                <key>sourceSize</key>
                <string>{144,73}</string>
            </dict>
            <key>beffect_2_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{143,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,74}}</string>
                <key>sourceSize</key>
                <string>{143,74}</string>
            </dict>
            <key>beffect_2_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,204},{142,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,76}}</string>
                <key>sourceSize</key>
                <string>{142,76}</string>
            </dict>
            <key>beffect_2_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,74},{146,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,71}}</string>
                <key>sourceSize</key>
                <string>{146,71}</string>
            </dict>
            <key>beffect_2_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{148,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,74}}</string>
                <key>sourceSize</key>
                <string>{148,74}</string>
            </dict>
            <key>beffect_2_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{150,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,72}}</string>
                <key>sourceSize</key>
                <string>{150,72}</string>
            </dict>
            <key>beffect_2_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,78}}</string>
                <key>sourceSize</key>
                <string>{150,78}</string>
            </dict>
            <key>beffect_2_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,145},{144,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,75}}</string>
                <key>sourceSize</key>
                <string>{144,75}</string>
            </dict>
            <key>beffect_2_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,145},{145,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,81}}</string>
                <key>sourceSize</key>
                <string>{145,81}</string>
            </dict>
            <key>beffect_2_123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{146,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,77}}</string>
                <key>sourceSize</key>
                <string>{146,77}</string>
            </dict>
            <key>beffect_2_124.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,72},{147,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,73}}</string>
                <key>sourceSize</key>
                <string>{147,73}</string>
            </dict>
            <key>beffect_2_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,371},{140,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,73}}</string>
                <key>sourceSize</key>
                <string>{140,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beffect_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32bff57279cee0be6b9678943f141d1d$</string>
            <key>textureFileName</key>
            <string>beffect_2.png</string>
        </dict>
    </dict>
</plist>
