<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beffect_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{191,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,201}}</string>
                <key>sourceSize</key>
                <string>{191,201}</string>
            </dict>
            <key>beffect_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,194},{192,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,204}}</string>
                <key>sourceSize</key>
                <string>{192,204}</string>
            </dict>
            <key>beffect_8_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,727},{151,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,161}}</string>
                <key>sourceSize</key>
                <string>{151,161}</string>
            </dict>
            <key>beffect_8_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,878},{174,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,180}}</string>
                <key>sourceSize</key>
                <string>{174,180}</string>
            </dict>
            <key>beffect_8_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{194,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,204}}</string>
                <key>sourceSize</key>
                <string>{194,204}</string>
            </dict>
            <key>beffect_8_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,850},{208,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,227}}</string>
                <key>sourceSize</key>
                <string>{208,227}</string>
            </dict>
            <key>beffect_8_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{217,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,243}}</string>
                <key>sourceSize</key>
                <string>{217,243}</string>
            </dict>
            <key>beffect_8_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,563},{223,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,252}}</string>
                <key>sourceSize</key>
                <string>{223,252}</string>
            </dict>
            <key>beffect_8_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{223,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,251}}</string>
                <key>sourceSize</key>
                <string>{223,251}</string>
            </dict>
            <key>beffect_8_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,702},{220,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,231}}</string>
                <key>sourceSize</key>
                <string>{220,231}</string>
            </dict>
            <key>beffect_8_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,786},{110,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,124}}</string>
                <key>sourceSize</key>
                <string>{110,124}</string>
            </dict>
            <key>beffect_8_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,592},{135,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,155}}</string>
                <key>sourceSize</key>
                <string>{135,155}</string>
            </dict>
            <key>beffect_8_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,410},{157,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,182}}</string>
                <key>sourceSize</key>
                <string>{157,182}</string>
            </dict>
            <key>beffect_8_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,386},{177,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,204}}</string>
                <key>sourceSize</key>
                <string>{177,204}</string>
            </dict>
            <key>beffect_8_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,786},{190,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,221}}</string>
                <key>sourceSize</key>
                <string>{190,221}</string>
            </dict>
            <key>beffect_8_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,922},{187,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,207}}</string>
                <key>sourceSize</key>
                <string>{187,207}</string>
            </dict>
            <key>beffect_8_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{410,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,410}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>beffect_8_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{398,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,410}}</string>
                <key>sourceSize</key>
                <string>{398,410}</string>
            </dict>
            <key>beffect_8_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,398},{304,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,318}}</string>
                <key>sourceSize</key>
                <string>{304,318}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beffect_8.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:094c54cadbcd744f8116a1d932e3c49b$</string>
            <key>textureFileName</key>
            <string>beffect_8.png</string>
        </dict>
    </dict>
</plist>
