<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beffect_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,177},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>beffect_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,184},{54,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,65}}</string>
                <key>sourceSize</key>
                <string>{54,65}</string>
            </dict>
            <key>beffect_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,316},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>beffect_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,238},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,78}}</string>
                <key>sourceSize</key>
                <string>{54,78}</string>
            </dict>
            <key>beffect_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{55,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,89}}</string>
                <key>sourceSize</key>
                <string>{55,89}</string>
            </dict>
            <key>beffect_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,89},{54,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,95}}</string>
                <key>sourceSize</key>
                <string>{54,95}</string>
            </dict>
            <key>beffect_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,341},{47,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,84}}</string>
                <key>sourceSize</key>
                <string>{47,84}</string>
            </dict>
            <key>beffect_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,504},{111,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,120}}</string>
                <key>sourceSize</key>
                <string>{111,120}</string>
            </dict>
            <key>beffect_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,489},{115,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,145}}</string>
                <key>sourceSize</key>
                <string>{115,145}</string>
            </dict>
            <key>beffect_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,341},{131,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,175}}</string>
                <key>sourceSize</key>
                <string>{131,175}</string>
            </dict>
            <key>beffect_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{150,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,197}}</string>
                <key>sourceSize</key>
                <string>{150,197}</string>
            </dict>
            <key>beffect_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,176},{165,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,213}}</string>
                <key>sourceSize</key>
                <string>{165,213}</string>
            </dict>
            <key>beffect_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{176,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,226}}</string>
                <key>sourceSize</key>
                <string>{176,226}</string>
            </dict>
            <key>beffect_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{177,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,228}}</string>
                <key>sourceSize</key>
                <string>{177,228}</string>
            </dict>
            <key>beffect_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,327},{177,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,182}}</string>
                <key>sourceSize</key>
                <string>{177,182}</string>
            </dict>
            <key>beffect_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,472},{151,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,157}}</string>
                <key>sourceSize</key>
                <string>{151,157}</string>
            </dict>
            <key>beffect_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,388},{101,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,154}}</string>
                <key>sourceSize</key>
                <string>{101,154}</string>
            </dict>
            <key>beffect_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,604},{101,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,144}}</string>
                <key>sourceSize</key>
                <string>{101,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beffect_1.png</string>
            <key>size</key>
            <string>{511,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eb8410bbd135f758b42861e8a51747b$</string>
            <key>textureFileName</key>
            <string>beffect_1.png</string>
        </dict>
    </dict>
</plist>
