<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{156,128}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{156,128}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>texiao1_daoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{427,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,406}}</string>
                <key>sourceSize</key>
                <string>{427,406}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_11.pvr.ccz</string>
            <key>size</key>
            <string>{427,534}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de635fb3981c8208e157c00f0802f450$</string>
            <key>textureFileName</key>
            <string>bullet_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
