<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{246,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,138}}</string>
                <key>sourceSize</key>
                <string>{246,138}</string>
            </dict>
            <key>bullet_7_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{246,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,128}}</string>
                <key>sourceSize</key>
                <string>{246,128}</string>
            </dict>
            <key>bullet_7_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,263},{239,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,137}}</string>
                <key>sourceSize</key>
                <string>{239,137}</string>
            </dict>
            <key>bullet_7_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,539},{228,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,138}}</string>
                <key>sourceSize</key>
                <string>{228,138}</string>
            </dict>
            <key>bullet_7_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,411},{236,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,138}}</string>
                <key>sourceSize</key>
                <string>{236,138}</string>
            </dict>
            <key>bullet_7_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,276},{241,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,135}}</string>
                <key>sourceSize</key>
                <string>{241,135}</string>
            </dict>
            <key>bullet_7_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,389},{237,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,135}}</string>
                <key>sourceSize</key>
                <string>{237,135}</string>
            </dict>
            <key>bullet_7_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,256},{242,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,133}}</string>
                <key>sourceSize</key>
                <string>{242,133}</string>
            </dict>
            <key>bullet_7_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{246,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,125}}</string>
                <key>sourceSize</key>
                <string>{246,125}</string>
            </dict>
            <key>bullet_7_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{245,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,126}}</string>
                <key>sourceSize</key>
                <string>{245,126}</string>
            </dict>
            <key>bullet_7_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,128},{245,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,128}}</string>
                <key>sourceSize</key>
                <string>{245,128}</string>
            </dict>
            <key>bullet_7_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,138},{244,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,138}}</string>
                <key>sourceSize</key>
                <string>{244,138}</string>
            </dict>
            <key>bullet_7_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,401},{239,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,138}}</string>
                <key>sourceSize</key>
                <string>{239,138}</string>
            </dict>
            <key>bullet_7_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,138}}</string>
                <key>sourceSize</key>
                <string>{246,138}</string>
            </dict>
            <key>bullet_7_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,125},{245,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,138}}</string>
                <key>sourceSize</key>
                <string>{245,138}</string>
            </dict>
            <key>bullet_7_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{244,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,137}}</string>
                <key>sourceSize</key>
                <string>{244,137}</string>
            </dict>
            <key>bullet_7_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,627},{104,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,106}}</string>
                <key>sourceSize</key>
                <string>{104,106}</string>
            </dict>
            <key>bullet_7_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,524},{103,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,112}}</string>
                <key>sourceSize</key>
                <string>{103,112}</string>
            </dict>
            <key>bullet_7_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,651},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>bullet_7_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,655},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,92}}</string>
                <key>sourceSize</key>
                <string>{98,92}</string>
            </dict>
            <key>bullet_7_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,677},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>bullet_7_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,627},{97,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,96}}</string>
                <key>sourceSize</key>
                <string>{97,96}</string>
            </dict>
            <key>bullet_7_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,524},{103,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,116}}</string>
                <key>sourceSize</key>
                <string>{103,116}</string>
            </dict>
            <key>bullet_7_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,549},{107,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,102}}</string>
                <key>sourceSize</key>
                <string>{107,102}</string>
            </dict>
            <key>bullet_7_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,549},{107,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,106}}</string>
                <key>sourceSize</key>
                <string>{107,106}</string>
            </dict>
            <key>bullet_7_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,605},{110,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>bullet_7_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,506},{103,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,119}}</string>
                <key>sourceSize</key>
                <string>{103,119}</string>
            </dict>
            <key>bullet_7_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,503},{102,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,120}}</string>
                <key>sourceSize</key>
                <string>{102,120}</string>
            </dict>
            <key>bullet_7_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,400},{106,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,122}}</string>
                <key>sourceSize</key>
                <string>{106,122}</string>
            </dict>
            <key>bullet_7_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,400},{103,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,122}}</string>
                <key>sourceSize</key>
                <string>{103,122}</string>
            </dict>
            <key>bullet_7_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,609},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,110}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_7.pvr.ccz</string>
            <key>size</key>
            <string>{984,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda0011172836fa51f901ea41d727b92$</string>
            <key>textureFileName</key>
            <string>bullet_7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
