<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,709},{142,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,212}}</string>
                <key>sourceSize</key>
                <string>{142,212}</string>
            </dict>
            <key>bullet_3_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{141,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,219}}</string>
                <key>sourceSize</key>
                <string>{141,219}</string>
            </dict>
            <key>bullet_3_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,426},{140,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,225}}</string>
                <key>sourceSize</key>
                <string>{140,225}</string>
            </dict>
            <key>bullet_3_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{140,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,231}}</string>
                <key>sourceSize</key>
                <string>{140,231}</string>
            </dict>
            <key>bullet_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{141,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,229}}</string>
                <key>sourceSize</key>
                <string>{141,229}</string>
            </dict>
            <key>bullet_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,140},{140,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,230}}</string>
                <key>sourceSize</key>
                <string>{140,230}</string>
            </dict>
            <key>bullet_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,706},{140,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,217}}</string>
                <key>sourceSize</key>
                <string>{140,217}</string>
            </dict>
            <key>bullet_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,280},{146,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,228}}</string>
                <key>sourceSize</key>
                <string>{146,228}</string>
            </dict>
            <key>bullet_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{141,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,239}}</string>
                <key>sourceSize</key>
                <string>{141,239}</string>
            </dict>
            <key>bullet_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{140,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,228}}</string>
                <key>sourceSize</key>
                <string>{140,228}</string>
            </dict>
            <key>bullet_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,566},{140,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,222}}</string>
                <key>sourceSize</key>
                <string>{140,222}</string>
            </dict>
            <key>bullet_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{146,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,227}}</string>
                <key>sourceSize</key>
                <string>{146,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_3.pvr.ccz</string>
            <key>size</key>
            <string>{470,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f166cf083882efafdfae9f1e75cb2710$</string>
            <key>textureFileName</key>
            <string>bullet_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
