<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1588},{132,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,248}}</string>
                <key>sourceSize</key>
                <string>{132,248}</string>
            </dict>
            <key>bullet_10_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{133,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,250}}</string>
                <key>sourceSize</key>
                <string>{133,250}</string>
            </dict>
            <key>bullet_10_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{132,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,252}}</string>
                <key>sourceSize</key>
                <string>{132,252}</string>
            </dict>
            <key>bullet_10_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{132,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,252}}</string>
                <key>sourceSize</key>
                <string>{132,252}</string>
            </dict>
            <key>bullet_10_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,397},{132,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,253}}</string>
                <key>sourceSize</key>
                <string>{132,253}</string>
            </dict>
            <key>bullet_10_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{133,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,255}}</string>
                <key>sourceSize</key>
                <string>{133,255}</string>
            </dict>
            <key>bullet_10_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{132,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,256}}</string>
                <key>sourceSize</key>
                <string>{132,256}</string>
            </dict>
            <key>bullet_10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1323},{133,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,249}}</string>
                <key>sourceSize</key>
                <string>{133,249}</string>
            </dict>
            <key>bullet_10_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{132,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,251}}</string>
                <key>sourceSize</key>
                <string>{132,251}</string>
            </dict>
            <key>bullet_10_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1852},{132,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,243}}</string>
                <key>sourceSize</key>
                <string>{132,243}</string>
            </dict>
            <key>bullet_10_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1720},{132,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,247}}</string>
                <key>sourceSize</key>
                <string>{132,247}</string>
            </dict>
            <key>bullet_10_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,661},{133,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,252}}</string>
                <key>sourceSize</key>
                <string>{133,252}</string>
            </dict>
            <key>bullet_10_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{132,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,253}}</string>
                <key>sourceSize</key>
                <string>{132,253}</string>
            </dict>
            <key>bullet_10_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{132,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,255}}</string>
                <key>sourceSize</key>
                <string>{132,255}</string>
            </dict>
            <key>bullet_10_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1456},{132,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,248}}</string>
                <key>sourceSize</key>
                <string>{132,248}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_10.pvr.ccz</string>
            <key>size</key>
            <string>{256,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:339d2860218bf5e8ff9c5fe5f64cd69e$</string>
            <key>textureFileName</key>
            <string>bullet_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
