<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{197,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,139}}</string>
                <key>sourceSize</key>
                <string>{197,139}</string>
            </dict>
            <key>bullet_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,658},{103,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,78}}</string>
                <key>sourceSize</key>
                <string>{103,78}</string>
            </dict>
            <key>bullet_6_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,347},{102,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,84}}</string>
                <key>sourceSize</key>
                <string>{102,84}</string>
            </dict>
            <key>bullet_6_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,491},{106,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,91}}</string>
                <key>sourceSize</key>
                <string>{106,91}</string>
            </dict>
            <key>bullet_6_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{106,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,76}</string>
            </dict>
            <key>bullet_6_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,421},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,70}}</string>
                <key>sourceSize</key>
                <string>{107,70}</string>
            </dict>
            <key>bullet_6_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{108,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,72}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>bullet_6_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,347},{110,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>bullet_6_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,349},{109,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>bullet_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,454},{104,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,80}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>bullet_6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,349},{105,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,79}}</string>
                <key>sourceSize</key>
                <string>{105,79}</string>
            </dict>
            <key>bullet_6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,572},{104,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,86}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>bullet_6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,449},{103,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,87}}</string>
                <key>sourceSize</key>
                <string>{103,87}</string>
            </dict>
            <key>bullet_6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,305},{100,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,73}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>bullet_6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,378},{97,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>bullet_6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,305},{98,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,73}}</string>
                <key>sourceSize</key>
                <string>{98,73}</string>
            </dict>
            <key>bullet_6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,558},{101,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,79}}</string>
                <key>sourceSize</key>
                <string>{101,79}</string>
            </dict>
            <key>bullet_6_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,469},{65,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,89}}</string>
                <key>sourceSize</key>
                <string>{65,89}</string>
            </dict>
            <key>bullet_6_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,377},{58,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,92}}</string>
                <key>sourceSize</key>
                <string>{58,92}</string>
            </dict>
            <key>bullet_6_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,401},{54,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,90}}</string>
                <key>sourceSize</key>
                <string>{54,90}</string>
            </dict>
            <key>bullet_6_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,534},{51,88}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>bullet_6_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,455},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,89}</string>
            </dict>
            <key>bullet_6_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,501},{51,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,89}}</string>
                <key>sourceSize</key>
                <string>{51,89}</string>
            </dict>
            <key>bullet_6_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,558},{50,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,88}}</string>
                <key>sourceSize</key>
                <string>{50,88}</string>
            </dict>
            <key>bullet_6_216.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,452},{49,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,87}}</string>
                <key>sourceSize</key>
                <string>{49,87}</string>
            </dict>
            <key>bullet_6_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,452},{62,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,86}}</string>
                <key>sourceSize</key>
                <string>{62,86}</string>
            </dict>
            <key>bullet_6_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,401},{57,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>bullet_6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,449},{52,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,90}}</string>
                <key>sourceSize</key>
                <string>{52,90}</string>
            </dict>
            <key>bullet_6_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,480},{54,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,89}}</string>
                <key>sourceSize</key>
                <string>{54,89}</string>
            </dict>
            <key>bullet_6_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,285},{47,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,92}}</string>
                <key>sourceSize</key>
                <string>{47,92}</string>
            </dict>
            <key>bullet_6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,378},{49,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,92}}</string>
                <key>sourceSize</key>
                <string>{49,92}</string>
            </dict>
            <key>bullet_6_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,193},{47,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,92}}</string>
                <key>sourceSize</key>
                <string>{47,92}</string>
            </dict>
            <key>bullet_6_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,427},{53,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,91}}</string>
                <key>sourceSize</key>
                <string>{53,91}</string>
            </dict>
            <key>bullet_6_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,201},{129,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,190}}</string>
                <key>sourceSize</key>
                <string>{129,190}</string>
            </dict>
            <key>bullet_6_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{117,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,197}}</string>
                <key>sourceSize</key>
                <string>{117,197}</string>
            </dict>
            <key>bullet_6_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{109,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,193}}</string>
                <key>sourceSize</key>
                <string>{109,193}</string>
            </dict>
            <key>bullet_6_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,229},{118,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,189}}</string>
                <key>sourceSize</key>
                <string>{118,189}</string>
            </dict>
            <key>bullet_6_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,193},{112,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,191}}</string>
                <key>sourceSize</key>
                <string>{112,191}</string>
            </dict>
            <key>bullet_6_314.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,92},{101,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,192}}</string>
                <key>sourceSize</key>
                <string>{101,192}</string>
            </dict>
            <key>bullet_6_315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{101,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,188}}</string>
                <key>sourceSize</key>
                <string>{101,188}</string>
            </dict>
            <key>bullet_6_316.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,304},{97,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,188}}</string>
                <key>sourceSize</key>
                <string>{97,188}</string>
            </dict>
            <key>bullet_6_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,330},{122,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,185}}</string>
                <key>sourceSize</key>
                <string>{122,185}</string>
            </dict>
            <key>bullet_6_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,117},{112,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,193}}</string>
                <key>sourceSize</key>
                <string>{112,193}</string>
            </dict>
            <key>bullet_6_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,98},{103,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,194}}</string>
                <key>sourceSize</key>
                <string>{103,194}</string>
            </dict>
            <key>bullet_6_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,197},{107,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,191}}</string>
                <key>sourceSize</key>
                <string>{107,191}</string>
            </dict>
            <key>bullet_6_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{92,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,196}}</string>
                <key>sourceSize</key>
                <string>{92,196}</string>
            </dict>
            <key>bullet_6_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,0},{98,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,197}}</string>
                <key>sourceSize</key>
                <string>{98,197}</string>
            </dict>
            <key>bullet_6_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,0},{92,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,197}}</string>
                <key>sourceSize</key>
                <string>{92,197}</string>
            </dict>
            <key>bullet_6_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,92},{105,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,195}}</string>
                <key>sourceSize</key>
                <string>{105,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_6.pvr.ccz</string>
            <key>size</key>
            <string>{1024,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:053ee32a94cc430027ddcca3eb428a6d$</string>
            <key>textureFileName</key>
            <string>bullet_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
