<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fubendiaoluo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,926},{87,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,99}}</string>
                <key>sourceSize</key>
                <string>{87,99}</string>
            </dict>
            <key>fubendiaoluo_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,751},{220,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,211}}</string>
                <key>sourceSize</key>
                <string>{220,211}</string>
            </dict>
            <key>fubendiaoluo_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{140,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,208}}</string>
                <key>sourceSize</key>
                <string>{140,208}</string>
            </dict>
            <key>fubendiaoluo_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,972},{35,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,52}}</string>
                <key>sourceSize</key>
                <string>{35,52}</string>
            </dict>
            <key>fubendiaoluo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,481},{138,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,154}}</string>
                <key>sourceSize</key>
                <string>{138,154}</string>
            </dict>
            <key>fubendiaoluo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,0},{177,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,199}}</string>
                <key>sourceSize</key>
                <string>{177,199}</string>
            </dict>
            <key>fubendiaoluo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{204,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,231}}</string>
                <key>sourceSize</key>
                <string>{204,231}</string>
            </dict>
            <key>fubendiaoluo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{222,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,253}}</string>
                <key>sourceSize</key>
                <string>{222,253}</string>
            </dict>
            <key>fubendiaoluo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{235,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,267}}</string>
                <key>sourceSize</key>
                <string>{235,267}</string>
            </dict>
            <key>fubendiaoluo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,267},{205,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,214}}</string>
                <key>sourceSize</key>
                <string>{205,214}</string>
            </dict>
            <key>fubendiaoluo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,520},{216,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,214}}</string>
                <key>sourceSize</key>
                <string>{216,214}</string>
            </dict>
            <key>fubendiaoluo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,751},{202,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,221}}</string>
                <key>sourceSize</key>
                <string>{202,221}</string>
            </dict>
            <key>fubendiaoluo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,199},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,96}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>fubendiaoluo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,736},{183,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,190}}</string>
                <key>sourceSize</key>
                <string>{183,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fubendiaoluo.pvr.ccz</string>
            <key>size</key>
            <string>{596,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:175b72887b29b5b356bd2dd1134a736b$</string>
            <key>textureFileName</key>
            <string>fubendiaoluo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
