<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuhuo_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fuhuo_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,478}}</string>
                <key>sourceSize</key>
                <string>{164,478}</string>
            </dict>
            <key>fuhuo_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{162,393}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,393}}</string>
                <key>sourceSize</key>
                <string>{162,393}</string>
            </dict>
            <key>fuhuo_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{162,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,407}}</string>
                <key>sourceSize</key>
                <string>{162,407}</string>
            </dict>
            <key>fuhuo_1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,164},{85,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>fuhuo_1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{174,168}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,168}}</string>
                <key>sourceSize</key>
                <string>{176,172}</string>
            </dict>
            <key>fuhuo_1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,688},{187,182}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{187,182}}</string>
                <key>sourceSize</key>
                <string>{191,188}</string>
            </dict>
            <key>fuhuo_1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,488},{207,200}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,200}}</string>
                <key>sourceSize</key>
                <string>{207,204}</string>
            </dict>
            <key>fuhuo_1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{220,220}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuhuo_1.png</string>
            <key>size</key>
            <string>{492,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d44d7c2e35de946d4ece6f75b3b906f8$</string>
            <key>textureFileName</key>
            <string>fuhuo_1.png</string>
        </dict>
    </dict>
</plist>
