<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heffect_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,399},{112,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,102}}</string>
                <key>sourceSize</key>
                <string>{112,102}</string>
            </dict>
            <key>heffect_2_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,262},{68,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,80}}</string>
                <key>sourceSize</key>
                <string>{68,80}</string>
            </dict>
            <key>heffect_2_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,344},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,20}</string>
            </dict>
            <key>heffect_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{209,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,173}}</string>
                <key>sourceSize</key>
                <string>{209,173}</string>
            </dict>
            <key>heffect_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,0},{209,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,172}}</string>
                <key>sourceSize</key>
                <string>{209,172}</string>
            </dict>
            <key>heffect_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,172},{207,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,172}}</string>
                <key>sourceSize</key>
                <string>{207,172}</string>
            </dict>
            <key>heffect_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{199,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,166}}</string>
                <key>sourceSize</key>
                <string>{199,166}</string>
            </dict>
            <key>heffect_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,80}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>heffect_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,87},{95,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,87}}</string>
                <key>sourceSize</key>
                <string>{95,87}</string>
            </dict>
            <key>heffect_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{94,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,87}}</string>
                <key>sourceSize</key>
                <string>{94,87}</string>
            </dict>
            <key>heffect_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,330},{69,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,78}}</string>
                <key>sourceSize</key>
                <string>{69,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_2.pvr.ccz</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc532dd61d188695ba82235cf20b65d$</string>
            <key>textureFileName</key>
            <string>heffect_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
