<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dajizhong_daoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{516,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,239}}</string>
                <key>sourceSize</key>
                <string>{516,239}</string>
            </dict>
            <key>dajizhong_daoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{458,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,186}}</string>
                <key>sourceSize</key>
                <string>{458,186}</string>
            </dict>
            <key>dajizhong_daoguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,319},{395,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,128}}</string>
                <key>sourceSize</key>
                <string>{395,128}</string>
            </dict>
            <key>dajizhong_daoguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{421,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,133}}</string>
                <key>sourceSize</key>
                <string>{421,133}</string>
            </dict>
            <key>dajizhong_daoguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,186},{278,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,91}}</string>
                <key>sourceSize</key>
                <string>{278,91}</string>
            </dict>
            <key>dajizhong_lizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,464},{108,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,65}}</string>
                <key>sourceSize</key>
                <string>{108,65}</string>
            </dict>
            <key>dajizhong_lizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,629},{131,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,80}}</string>
                <key>sourceSize</key>
                <string>{131,80}</string>
            </dict>
            <key>dajizhong_lizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,542},{143,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,87}}</string>
                <key>sourceSize</key>
                <string>{143,87}</string>
            </dict>
            <key>dajizhong_xue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,529},{106,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>dajizhong_xue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,447},{158,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,95}}</string>
                <key>sourceSize</key>
                <string>{158,95}</string>
            </dict>
            <key>dajizhong_xue3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,609},{214,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,122}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_11.pvr.ccz</string>
            <key>size</key>
            <string>{512,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fab20d9664d38232282a2bf717e4d2df$</string>
            <key>textureFileName</key>
            <string>heffect_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
