<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,249},{223,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,222}}</string>
                <key>sourceSize</key>
                <string>{223,222}</string>
            </dict>
            <key>heffect_8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,838},{129,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,117}}</string>
                <key>sourceSize</key>
                <string>{129,117}</string>
            </dict>
            <key>heffect_8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,471},{206,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,183}}</string>
                <key>sourceSize</key>
                <string>{206,183}</string>
            </dict>
            <key>heffect_8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{247,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,214}}</string>
                <key>sourceSize</key>
                <string>{247,214}</string>
            </dict>
            <key>heffect_8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,214},{229,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,238}}</string>
                <key>sourceSize</key>
                <string>{229,238}</string>
            </dict>
            <key>heffect_8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,249}}</string>
                <key>sourceSize</key>
                <string>{250,249}</string>
            </dict>
            <key>heffect_8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,443},{197,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,213}}</string>
                <key>sourceSize</key>
                <string>{197,213}</string>
            </dict>
            <key>heffect_8_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,640},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>heffect_8_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,654},{179,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,180}}</string>
                <key>sourceSize</key>
                <string>{179,180}</string>
            </dict>
            <key>heffect_8_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{182,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,185}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>heffect_8_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,515},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>heffect_8_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,443},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>heffect_8_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,838},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>heffect_8_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,640},{198,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,201}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_8.pvr.ccz</string>
            <key>size</key>
            <string>{509,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f15390b94d5de50f4ea5edd9c7cd6ce6$</string>
            <key>textureFileName</key>
            <string>heffect_8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
