<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heffect_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>heffect_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,301},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>heffect_1_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,227},{55,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,64}}</string>
                <key>sourceSize</key>
                <string>{55,66}</string>
            </dict>
            <key>heffect_1_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,214},{47,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,22}}</string>
                <key>sourceSize</key>
                <string>{47,22}</string>
            </dict>
            <key>heffect_1_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,227},{50,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,22}}</string>
                <key>sourceSize</key>
                <string>{50,22}</string>
            </dict>
            <key>heffect_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,236},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>heffect_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{60,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,114}}</string>
                <key>sourceSize</key>
                <string>{60,114}</string>
            </dict>
            <key>heffect_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{74,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,135}}</string>
                <key>sourceSize</key>
                <string>{74,135}</string>
            </dict>
            <key>heffect_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,214},{75,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,134}}</string>
                <key>sourceSize</key>
                <string>{75,134}</string>
            </dict>
            <key>heffect_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{76,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,134}}</string>
                <key>sourceSize</key>
                <string>{76,134}</string>
            </dict>
            <key>heffect_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,136}}</string>
                <key>sourceSize</key>
                <string>{77,136}</string>
            </dict>
            <key>heffect_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,60},{77,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,105}}</string>
                <key>sourceSize</key>
                <string>{77,105}</string>
            </dict>
            <key>heffect_1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,137},{77,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,103}}</string>
                <key>sourceSize</key>
                <string>{77,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heffect_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11602811ee125395bb5a496cab935904$</string>
            <key>textureFileName</key>
            <string>heffect_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
