<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbuchuanci_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1399},{624,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,216}}</string>
                <key>sourceSize</key>
                <string>{624,216}</string>
            </dict>
            <key>lvbuchuanci_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,996},{787,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{787,403}}</string>
                <key>sourceSize</key>
                <string>{787,403}</string>
            </dict>
            <key>lvbuchuanci_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,744},{770,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,280}}</string>
                <key>sourceSize</key>
                <string>{770,280}</string>
            </dict>
            <key>lvbuchuanci_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,307},{819,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,287}}</string>
                <key>sourceSize</key>
                <string>{819,287}</string>
            </dict>
            <key>lvbuchuanci_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1502},{752,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{752,190}}</string>
                <key>sourceSize</key>
                <string>{752,190}</string>
            </dict>
            <key>lvbuchuanci_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,457},{216,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,38}}</string>
                <key>sourceSize</key>
                <string>{216,38}</string>
            </dict>
            <key>lvbuchuanci_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1692},{675,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{675,266}}</string>
                <key>sourceSize</key>
                <string>{675,266}</string>
            </dict>
            <key>lvbuchuanci_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,0},{744,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,361}}</string>
                <key>sourceSize</key>
                <string>{744,361}</string>
            </dict>
            <key>lvbuchuanci_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,0},{821,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{821,307}}</string>
                <key>sourceSize</key>
                <string>{821,307}</string>
            </dict>
            <key>lvbuchuanci_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1514},{747,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,407}}</string>
                <key>sourceSize</key>
                <string>{747,407}</string>
            </dict>
            <key>lvbuchuanci_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,457},{810,537}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,537}}</string>
                <key>sourceSize</key>
                <string>{810,537}</string>
            </dict>
            <key>lvbuchuanci_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,994},{797,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{797,508}}</string>
                <key>sourceSize</key>
                <string>{797,508}</string>
            </dict>
            <key>lvbuchuanci_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,594},{810,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{810,402}}</string>
                <key>sourceSize</key>
                <string>{810,402}</string>
            </dict>
            <key>lvbuchuanci_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{849,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{849,457}}</string>
                <key>sourceSize</key>
                <string>{849,457}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbuchuanci_d.pvr.ccz</string>
            <key>size</key>
            <string>{2031,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8faf4eb06b930ff9319dbbbc8e9f50e8$</string>
            <key>textureFileName</key>
            <string>lvbuchuanci_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
