<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>outDot_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{88,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,64}}</string>
                <key>sourceSize</key>
                <string>{88,64}</string>
            </dict>
            <key>outDot_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,632},{116,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,83}}</string>
                <key>sourceSize</key>
                <string>{116,83}</string>
            </dict>
            <key>outDot_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,715},{143,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,100}}</string>
                <key>sourceSize</key>
                <string>{143,100}</string>
            </dict>
            <key>outDot_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,464},{168,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,116}}</string>
                <key>sourceSize</key>
                <string>{168,116}</string>
            </dict>
            <key>outDot_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,858},{189,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,127}}</string>
                <key>sourceSize</key>
                <string>{189,127}</string>
            </dict>
            <key>outFlare_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{388,330}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{388,330}}</string>
                <key>sourceSize</key>
                <string>{394,330}</string>
            </dict>
            <key>outFlare_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{201,165}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{201,165}}</string>
                <key>sourceSize</key>
                <string>{211,165}</string>
            </dict>
            <key>outFluid_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{464,467}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,467}}</string>
                <key>sourceSize</key>
                <string>{464,467}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_37.pvr.ccz</string>
            <key>size</key>
            <string>{504,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4336915aebeea6a3a3133a903a504f8$</string>
            <key>textureFileName</key>
            <string>meffect_37.pvr.ccz</string>
        </dict>
    </dict>
</plist>
