<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,844},{200,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,101}}</string>
                <key>sourceSize</key>
                <string>{200,101}</string>
            </dict>
            <key>meffect_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,451},{227,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,205}}</string>
                <key>sourceSize</key>
                <string>{227,205}</string>
            </dict>
            <key>meffect_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,451},{227,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,284}}</string>
                <key>sourceSize</key>
                <string>{227,284}</string>
            </dict>
            <key>meffect_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,649},{227,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,314}}</string>
                <key>sourceSize</key>
                <string>{227,314}</string>
            </dict>
            <key>meffect_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,0},{227,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,367}}</string>
                <key>sourceSize</key>
                <string>{227,367}</string>
            </dict>
            <key>meffect_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,227},{227,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,422}}</string>
                <key>sourceSize</key>
                <string>{227,422}</string>
            </dict>
            <key>meffect_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,0},{227,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,422}}</string>
                <key>sourceSize</key>
                <string>{227,422}</string>
            </dict>
            <key>meffect_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{227,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,422}}</string>
                <key>sourceSize</key>
                <string>{227,422}</string>
            </dict>
            <key>meffect_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{227,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,422}}</string>
                <key>sourceSize</key>
                <string>{227,422}</string>
            </dict>
            <key>meffect_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,227},{224,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,387}}</string>
                <key>sourceSize</key>
                <string>{224,387}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_36.pvr.ccz</string>
            <key>size</key>
            <string>{1016,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82086d3c844e5ae365f2a98e692c3c20$</string>
            <key>textureFileName</key>
            <string>meffect_36.pvr.ccz</string>
        </dict>
    </dict>
</plist>
