<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_14_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,454},{200,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,113}}</string>
                <key>sourceSize</key>
                <string>{200,113}</string>
            </dict>
            <key>meffect_14_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{218,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,127}}</string>
                <key>sourceSize</key>
                <string>{218,127}</string>
            </dict>
            <key>meffect_14_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,326},{213,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,128}}</string>
                <key>sourceSize</key>
                <string>{213,128}</string>
            </dict>
            <key>meffect_14_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,567},{198,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,124}}</string>
                <key>sourceSize</key>
                <string>{198,124}</string>
            </dict>
            <key>meffect_14_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{201,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,116}}</string>
                <key>sourceSize</key>
                <string>{201,116}</string>
            </dict>
            <key>meffect_14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,326},{79,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,141}}</string>
                <key>sourceSize</key>
                <string>{79,141}</string>
            </dict>
            <key>meffect_14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,691},{72,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,148}}</string>
                <key>sourceSize</key>
                <string>{72,148}</string>
            </dict>
            <key>meffect_14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,96},{96,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,246}}</string>
                <key>sourceSize</key>
                <string>{96,246}</string>
            </dict>
            <key>meffect_14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{96,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,252}}</string>
                <key>sourceSize</key>
                <string>{96,252}</string>
            </dict>
            <key>meffect_14_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,0},{96,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,247}}</string>
                <key>sourceSize</key>
                <string>{96,247}</string>
            </dict>
            <key>meffect_14_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,613},{86,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,198}}</string>
                <key>sourceSize</key>
                <string>{86,198}</string>
            </dict>
            <key>meffect_14_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,631},{135,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,84}}</string>
                <key>sourceSize</key>
                <string>{135,84}</string>
            </dict>
            <key>meffect_14_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,467},{164,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,101}}</string>
                <key>sourceSize</key>
                <string>{164,101}</string>
            </dict>
            <key>meffect_14_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,493},{199,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,120}}</string>
                <key>sourceSize</key>
                <string>{199,120}</string>
            </dict>
            <key>meffect_14_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,192},{235,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,134}}</string>
                <key>sourceSize</key>
                <string>{235,134}</string>
            </dict>
            <key>meffect_14_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{263,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,154}}</string>
                <key>sourceSize</key>
                <string>{263,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_14.pvr.ccz</string>
            <key>size</key>
            <string>{510,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e15b4b1d3ba8a0fe40bf6808c122873$</string>
            <key>textureFileName</key>
            <string>meffect_14.pvr.ccz</string>
        </dict>
    </dict>
</plist>
