<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>meffect_10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,335},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>meffect_10_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,185},{181,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,180}}</string>
                <key>sourceSize</key>
                <string>{181,180}</string>
            </dict>
            <key>meffect_10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,141},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>meffect_10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,366},{150,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,141}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>meffect_10_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,185},{150,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,147}}</string>
                <key>sourceSize</key>
                <string>{150,147}</string>
            </dict>
            <key>meffect_10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{145,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,139}}</string>
                <key>sourceSize</key>
                <string>{145,139}</string>
            </dict>
            <key>meffect_10_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,335},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,139}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>meffect_10_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{141,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,133}}</string>
                <key>sourceSize</key>
                <string>{141,133}</string>
            </dict>
            <key>meffect_10_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,0},{141,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,127}}</string>
                <key>sourceSize</key>
                <string>{141,127}</string>
            </dict>
            <key>meffect_10_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,185}}</string>
                <key>sourceSize</key>
                <string>{184,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_10.pvr.ccz</string>
            <key>size</key>
            <string>{444,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0e636558c4edf9fa847053f9cbab1a$</string>
            <key>textureFileName</key>
            <string>meffect_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
