<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,502},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>meffect_22_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,767},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>meffect_22_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,286},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>meffect_22_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{238,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,239}}</string>
                <key>sourceSize</key>
                <string>{238,239}</string>
            </dict>
            <key>meffect_22_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>meffect_22_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,0},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,204}}</string>
                <key>sourceSize</key>
                <string>{205,204}</string>
            </dict>
            <key>meffect_22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,212},{67,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,65}</string>
            </dict>
            <key>meffect_22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,440},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>meffect_22_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,0},{154,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,153}}</string>
                <key>sourceSize</key>
                <string>{154,153}</string>
            </dict>
            <key>meffect_22_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,718},{198,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,197}}</string>
                <key>sourceSize</key>
                <string>{198,197}</string>
            </dict>
            <key>meffect_22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,212},{206,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,205}}</string>
                <key>sourceSize</key>
                <string>{206,205}</string>
            </dict>
            <key>meffect_22_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{212,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,211}}</string>
                <key>sourceSize</key>
                <string>{212,211}</string>
            </dict>
            <key>meffect_22_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,502},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>meffect_22_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,767},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>meffect_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{202,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,242}}</string>
                <key>sourceSize</key>
                <string>{202,242}</string>
            </dict>
            <key>meffect_22_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,916},{92,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,91}}</string>
                <key>sourceSize</key>
                <string>{92,91}</string>
            </dict>
            <key>meffect_22_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,581},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>meffect_22_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,302},{138,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,141}}</string>
                <key>sourceSize</key>
                <string>{138,141}</string>
            </dict>
            <key>meffect_22_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,153},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>meffect_22_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,205},{154,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,158}}</string>
                <key>sourceSize</key>
                <string>{154,158}</string>
            </dict>
            <key>meffect_22_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,418},{157,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,161}}</string>
                <key>sourceSize</key>
                <string>{157,161}</string>
            </dict>
            <key>meffect_22_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,418},{158,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,163}}</string>
                <key>sourceSize</key>
                <string>{158,163}</string>
            </dict>
            <key>meffect_22_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,0},{157,149}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,149}}</string>
                <key>sourceSize</key>
                <string>{157,155}</string>
            </dict>
            <key>meffect_22_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,581},{156,123}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,123}}</string>
                <key>sourceSize</key>
                <string>{156,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_22.pvr.ccz</string>
            <key>size</key>
            <string>{1004,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03ef8935663795721bd438c262573b28$</string>
            <key>textureFileName</key>
            <string>meffect_22.pvr.ccz</string>
        </dict>
    </dict>
</plist>
