<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiangci01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,20},{556,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,61}}</string>
                <key>sourceSize</key>
                <string>{556,61}</string>
            </dict>
            <key>qiangci02.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,20},{520,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,35}}</string>
                <key>sourceSize</key>
                <string>{520,35}</string>
            </dict>
            <key>qiangci03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{511,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,20}}</string>
                <key>sourceSize</key>
                <string>{511,20}</string>
            </dict>
            <key>qiangying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{314,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,151}}</string>
                <key>sourceSize</key>
                <string>{314,151}</string>
            </dict>
            <key>qiangying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,307},{347,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,137}}</string>
                <key>sourceSize</key>
                <string>{347,137}</string>
            </dict>
            <key>qiangying03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,20},{396,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,155}}</string>
                <key>sourceSize</key>
                <string>{396,155}</string>
            </dict>
            <key>qiangying04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{360,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,132}}</string>
                <key>sourceSize</key>
                <string>{360,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_34.pvr.ccz</string>
            <key>size</key>
            <string>{511,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a0e40cf2a6a7b440ee7cf4288d3f716$</string>
            <key>textureFileName</key>
            <string>meffect_34.pvr.ccz</string>
        </dict>
    </dict>
</plist>
