<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaoliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{851,727}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{851,727}}</string>
                <key>sourceSize</key>
                <string>{851,727}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,727},{440,340}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,340}}</string>
                <key>sourceSize</key>
                <string>{442,340}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_42.pvr.ccz</string>
            <key>size</key>
            <string>{851,1067}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af2cb5df96c0245af44c2bb1324687c6$</string>
            <key>textureFileName</key>
            <string>meffect_42.pvr.ccz</string>
        </dict>
    </dict>
</plist>
