<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,371},{84,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,163}}</string>
                <key>sourceSize</key>
                <string>{84,163}</string>
            </dict>
            <key>meffect_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,268},{91,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,177}}</string>
                <key>sourceSize</key>
                <string>{91,177}</string>
            </dict>
            <key>meffect_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{91,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,177}}</string>
                <key>sourceSize</key>
                <string>{91,177}</string>
            </dict>
            <key>meffect_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,212},{91,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,177}}</string>
                <key>sourceSize</key>
                <string>{91,177}</string>
            </dict>
            <key>meffect_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{91,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,176}}</string>
                <key>sourceSize</key>
                <string>{91,176}</string>
            </dict>
            <key>meffect_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,303},{68,173}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,173}}</string>
                <key>sourceSize</key>
                <string>{68,175}</string>
            </dict>
            <key>meffect_3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,293},{38,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,172}}</string>
                <key>sourceSize</key>
                <string>{38,172}</string>
            </dict>
            <key>meffect_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,212},{67,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,81}}</string>
                <key>sourceSize</key>
                <string>{67,81}</string>
            </dict>
            <key>meffect_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,445},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>meffect_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,524},{79,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,94}}</string>
                <key>sourceSize</key>
                <string>{79,94}</string>
            </dict>
            <key>meffect_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{79,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,102}}</string>
                <key>sourceSize</key>
                <string>{79,102}</string>
            </dict>
            <key>meffect_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,455},{79,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,112}}</string>
                <key>sourceSize</key>
                <string>{79,112}</string>
            </dict>
            <key>meffect_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{74,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,118}}</string>
                <key>sourceSize</key>
                <string>{74,118}</string>
            </dict>
            <key>meffect_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>meffect_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,465},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>meffect_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{268,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,268}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>meffect_3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{220,212}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,212}}</string>
                <key>sourceSize</key>
                <string>{222,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_3.pvr.ccz</string>
            <key>size</key>
            <string>{512,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b9324ee7b40bb9989676b749b3a238a$</string>
            <key>textureFileName</key>
            <string>meffect_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
