<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_19_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,324},{70,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,48}}</string>
                <key>sourceSize</key>
                <string>{70,48}</string>
            </dict>
            <key>meffect_19_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,552},{130,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,100}</string>
            </dict>
            <key>meffect_19_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,209},{259,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,195}}</string>
                <key>sourceSize</key>
                <string>{259,195}</string>
            </dict>
            <key>meffect_19_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,160},{260,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,198}}</string>
                <key>sourceSize</key>
                <string>{260,198}</string>
            </dict>
            <key>meffect_19_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,428},{68,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,52}}</string>
                <key>sourceSize</key>
                <string>{68,52}</string>
            </dict>
            <key>meffect_19_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,495},{134,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,103}}</string>
                <key>sourceSize</key>
                <string>{134,103}</string>
            </dict>
            <key>meffect_19_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{210,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,162}}</string>
                <key>sourceSize</key>
                <string>{210,162}</string>
            </dict>
            <key>meffect_19_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,358},{224,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,173}}</string>
                <key>sourceSize</key>
                <string>{224,173}</string>
            </dict>
            <key>meffect_19_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{240,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,185}}</string>
                <key>sourceSize</key>
                <string>{240,185}</string>
            </dict>
            <key>meffect_19_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,243},{81,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,49}}</string>
                <key>sourceSize</key>
                <string>{81,49}</string>
            </dict>
            <key>meffect_19_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,404},{152,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,175}}</string>
                <key>sourceSize</key>
                <string>{152,175}</string>
            </dict>
            <key>meffect_19_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,165},{165,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,191}}</string>
                <key>sourceSize</key>
                <string>{165,191}</string>
            </dict>
            <key>meffect_19_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,0},{165,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,191}}</string>
                <key>sourceSize</key>
                <string>{165,191}</string>
            </dict>
            <key>meffect_19_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,598},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,88}}</string>
                <key>sourceSize</key>
                <string>{100,88}</string>
            </dict>
            <key>meffect_19_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,404},{148,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,118}}</string>
                <key>sourceSize</key>
                <string>{148,118}</string>
            </dict>
            <key>meffect_19_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,330},{214,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,165}}</string>
                <key>sourceSize</key>
                <string>{214,165}</string>
            </dict>
            <key>meffect_19_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,0},{262,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,209}}</string>
                <key>sourceSize</key>
                <string>{262,209}</string>
            </dict>
            <key>meffect_19_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{291,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,243}}</string>
                <key>sourceSize</key>
                <string>{291,243}</string>
            </dict>
            <key>meffect_19_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,0},{280,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,160}}</string>
                <key>sourceSize</key>
                <string>{280,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_19.pvr.ccz</string>
            <key>size</key>
            <string>{1024,686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4dcfdf231db4fbd9e1a665a00306151$</string>
            <key>textureFileName</key>
            <string>meffect_19.pvr.ccz</string>
        </dict>
    </dict>
</plist>
