<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juguang001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,598},{324,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,217}}</string>
                <key>sourceSize</key>
                <string>{324,217}</string>
            </dict>
            <key>juguang002.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,740},{323,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,180}}</string>
                <key>sourceSize</key>
                <string>{323,180}</string>
            </dict>
            <key>juguang003.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,233},{320,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,286}}</string>
                <key>sourceSize</key>
                <string>{320,286}</string>
            </dict>
            <key>juguang004.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{296,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,233}}</string>
                <key>sourceSize</key>
                <string>{296,233}</string>
            </dict>
            <key>juguang005.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,815},{237,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,182}}</string>
                <key>sourceSize</key>
                <string>{237,182}</string>
            </dict>
            <key>juguang006.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1064},{175,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,125}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>lian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,836},{123,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,83}}</string>
                <key>sourceSize</key>
                <string>{123,83}</string>
            </dict>
            <key>lian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,677},{159,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{159,103}}</string>
                <key>sourceSize</key>
                <string>{161,103}</string>
            </dict>
            <key>lian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,920},{214,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,144}}</string>
                <key>sourceSize</key>
                <string>{214,144}</string>
            </dict>
            <key>lian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,553},{280,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,187}}</string>
                <key>sourceSize</key>
                <string>{280,187}</string>
            </dict>
            <key>lian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,343},{360,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,255}}</string>
                <key>sourceSize</key>
                <string>{360,255}</string>
            </dict>
            <key>lian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{360,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,343}}</string>
                <key>sourceSize</key>
                <string>{360,343}</string>
            </dict>
            <key>lian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{360,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,343}}</string>
                <key>sourceSize</key>
                <string>{360,343}</string>
            </dict>
            <key>lian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,343},{360,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,334}}</string>
                <key>sourceSize</key>
                <string>{360,334}</string>
            </dict>
            <key>quanquanbao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,997},{129,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,132}}</string>
                <key>sourceSize</key>
                <string>{129,132}</string>
            </dict>
            <key>quanquanbao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,920},{215,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{215,219}}</string>
                <key>sourceSize</key>
                <string>{217,219}</string>
            </dict>
            <key>quanquanbao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{225,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,228}}</string>
                <key>sourceSize</key>
                <string>{225,228}</string>
            </dict>
            <key>quanquanbao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,677},{237,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,238}}</string>
                <key>sourceSize</key>
                <string>{237,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_48.pvr.ccz</string>
            <key>size</key>
            <string>{1016,1189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18f8659c8767eeaca0176afcf8418df8$</string>
            <key>textureFileName</key>
            <string>meffect_48.pvr.ccz</string>
        </dict>
    </dict>
</plist>
