<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{375,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,373}}</string>
                <key>sourceSize</key>
                <string>{375,373}</string>
            </dict>
            <key>baoqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,329},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>baoqi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,0},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>baoqi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,373},{183,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,183}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>baoqi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,498},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>baoqi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,362},{196,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,195}}</string>
                <key>sourceSize</key>
                <string>{196,195}</string>
            </dict>
            <key>guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,183},{220,221}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,221}}</string>
                <key>sourceSize</key>
                <string>{222,223}</string>
            </dict>
            <key>meffect_31_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,403},{116,124}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{116,124}}</string>
                <key>sourceSize</key>
                <string>{124,132}</string>
            </dict>
            <key>meffect_31_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,373},{138,152}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{138,152}}</string>
                <key>sourceSize</key>
                <string>{152,170}</string>
            </dict>
            <key>meffect_31_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,177},{152,175}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{152,175}}</string>
                <key>sourceSize</key>
                <string>{172,191}</string>
            </dict>
            <key>meffect_31_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,149},{213,225}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{213,225}}</string>
                <key>sourceSize</key>
                <string>{227,243}</string>
            </dict>
            <key>meffect_31_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,0},{242,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{242,183}}</string>
                <key>sourceSize</key>
                <string>{264,203}</string>
            </dict>
            <key>meffect_31_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,0},{228,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{228,149}}</string>
                <key>sourceSize</key>
                <string>{240,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_31.pvr.ccz</string>
            <key>size</key>
            <string>{1022,688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:273f63b2a3388091b58905253002e028$</string>
            <key>textureFileName</key>
            <string>meffect_31.pvr.ccz</string>
        </dict>
    </dict>
</plist>
