<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_43_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,458},{201,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,114}}</string>
                <key>sourceSize</key>
                <string>{203,116}</string>
            </dict>
            <key>meffect_43_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{219,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,128}}</string>
                <key>sourceSize</key>
                <string>{221,130}</string>
            </dict>
            <key>meffect_43_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,329},{214,129}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,129}}</string>
                <key>sourceSize</key>
                <string>{216,131}</string>
            </dict>
            <key>meffect_43_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,572},{199,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,125}}</string>
                <key>sourceSize</key>
                <string>{201,127}</string>
            </dict>
            <key>meffect_43_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{202,117}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,117}}</string>
                <key>sourceSize</key>
                <string>{204,119}</string>
            </dict>
            <key>meffect_43_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,697},{80,142}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,142}}</string>
                <key>sourceSize</key>
                <string>{82,144}</string>
            </dict>
            <key>meffect_43_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,97},{97,247}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,247}}</string>
                <key>sourceSize</key>
                <string>{99,249}</string>
            </dict>
            <key>meffect_43_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{97,253}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,253}}</string>
                <key>sourceSize</key>
                <string>{99,255}</string>
            </dict>
            <key>meffect_43_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{97,248}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,248}}</string>
                <key>sourceSize</key>
                <string>{99,250}</string>
            </dict>
            <key>meffect_43_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{87,199}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,199}}</string>
                <key>sourceSize</key>
                <string>{89,201}</string>
            </dict>
            <key>meffect_43_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,329},{73,149}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,149}}</string>
                <key>sourceSize</key>
                <string>{75,151}</string>
            </dict>
            <key>meffect_43_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,643},{136,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,85}}</string>
                <key>sourceSize</key>
                <string>{138,87}</string>
            </dict>
            <key>meffect_43_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,478},{165,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{167,104}</string>
            </dict>
            <key>meffect_43_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{200,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,121}}</string>
                <key>sourceSize</key>
                <string>{202,123}</string>
            </dict>
            <key>meffect_43_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,194},{236,135}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,135}}</string>
                <key>sourceSize</key>
                <string>{238,137}</string>
            </dict>
            <key>meffect_43_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,155}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,155}}</string>
                <key>sourceSize</key>
                <string>{266,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_43.pvr.ccz</string>
            <key>size</key>
            <string>{512,779}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46d1cb8d66f8b360d111282d554a3e0b$</string>
            <key>textureFileName</key>
            <string>meffect_43.pvr.ccz</string>
        </dict>
    </dict>
</plist>
