<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_20_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,681},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,32}</string>
            </dict>
            <key>meffect_20_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,267},{151,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,106}}</string>
                <key>sourceSize</key>
                <string>{151,106}</string>
            </dict>
            <key>meffect_20_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,326},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>meffect_20_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,87},{128,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,89}}</string>
                <key>sourceSize</key>
                <string>{128,89}</string>
            </dict>
            <key>meffect_20_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,551},{132,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,91}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>meffect_20_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{136,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,95}}</string>
                <key>sourceSize</key>
                <string>{136,95}</string>
            </dict>
            <key>meffect_20_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,365},{140,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,97}}</string>
                <key>sourceSize</key>
                <string>{140,97}</string>
            </dict>
            <key>meffect_20_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{144,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,100}}</string>
                <key>sourceSize</key>
                <string>{144,100}</string>
            </dict>
            <key>meffect_20_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,373},{147,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,103}}</string>
                <key>sourceSize</key>
                <string>{147,103}</string>
            </dict>
            <key>meffect_20_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,267},{150,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,106}}</string>
                <key>sourceSize</key>
                <string>{150,106}</string>
            </dict>
            <key>meffect_20_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,597},{84,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,48}}</string>
                <key>sourceSize</key>
                <string>{84,48}</string>
            </dict>
            <key>meffect_20_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,642},{100,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,95}}</string>
                <key>sourceSize</key>
                <string>{100,95}</string>
            </dict>
            <key>meffect_20_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,133},{134,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,189}}</string>
                <key>sourceSize</key>
                <string>{134,189}</string>
            </dict>
            <key>meffect_20_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,191}}</string>
                <key>sourceSize</key>
                <string>{133,191}</string>
            </dict>
            <key>meffect_20_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,0},{133,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,190}}</string>
                <key>sourceSize</key>
                <string>{133,190}</string>
            </dict>
            <key>meffect_20_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,133},{134,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,189}}</string>
                <key>sourceSize</key>
                <string>{134,189}</string>
            </dict>
            <key>meffect_20_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,176},{133,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,189}}</string>
                <key>sourceSize</key>
                <string>{133,189}</string>
            </dict>
            <key>meffect_20_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,513},{84,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,67}}</string>
                <key>sourceSize</key>
                <string>{84,67}</string>
            </dict>
            <key>meffect_20_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,426},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>meffect_20_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,267},{77,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,59}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>meffect_20_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,732},{82,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,92}}</string>
                <key>sourceSize</key>
                <string>{82,94}</string>
            </dict>
            <key>meffect_20_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,647},{85,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>meffect_20_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{87,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,130}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>meffect_20_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,462},{89,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,137}}</string>
                <key>sourceSize</key>
                <string>{89,137}</string>
            </dict>
            <key>meffect_20_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,557},{90,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,142}}</string>
                <key>sourceSize</key>
                <string>{90,142}</string>
            </dict>
            <key>meffect_20_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,466},{91,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,145}}</string>
                <key>sourceSize</key>
                <string>{91,145}</string>
            </dict>
            <key>meffect_20_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,373},{93,145}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,145}}</string>
                <key>sourceSize</key>
                <string>{93,147}</string>
            </dict>
            <key>meffect_20_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,671},{82,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,119}}</string>
                <key>sourceSize</key>
                <string>{82,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_20.pvr.ccz</string>
            <key>size</key>
            <string>{511,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3b613e6835ab6536fba36ce496590e$</string>
            <key>textureFileName</key>
            <string>meffect_20.pvr.ccz</string>
        </dict>
    </dict>
</plist>
