<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dagua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,559},{564,444}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,444}}</string>
                <key>sourceSize</key>
                <string>{568,446}</string>
            </dict>
            <key>diquan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{676,559}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,115},{676,559}}</string>
                <key>sourceSize</key>
                <string>{952,789}</string>
            </dict>
            <key>luojian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1003},{505,140}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,140}}</string>
                <key>sourceSize</key>
                <string>{507,144}</string>
            </dict>
            <key>luojian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,641},{541,361}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,361}}</string>
                <key>sourceSize</key>
                <string>{543,363}</string>
            </dict>
            <key>luojian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{641,333}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,333}}</string>
                <key>sourceSize</key>
                <string>{643,335}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_44.pvr.ccz</string>
            <key>size</key>
            <string>{1009,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ba23011be018f50bced278f2f1780c$</string>
            <key>textureFileName</key>
            <string>meffect_44.pvr.ccz</string>
        </dict>
    </dict>
</plist>
