<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>guangyudaoguang01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1695,503},{263,508}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,508}}</string>
			<key>sourceSize</key>
			<string>{263,508}</string>
		</dict>
		<key>guangyudaoguang02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1173},{401,571}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{401,571}}</string>
			<key>sourceSize</key>
			<string>{401,571}</string>
		</dict>
		<key>guangyudaoguang03.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,246},{827,738}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{827,738}}</string>
			<key>sourceSize</key>
			<string>{827,738}</string>
		</dict>
		<key>guangyudaoguang04.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{868,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{868,331}}</string>
			<key>sourceSize</key>
			<string>{868,331}</string>
		</dict>
		<key>guangyudaoguang05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,331},{805,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{805,245}}</string>
			<key>sourceSize</key>
			<string>{805,245}</string>
		</dict>
		<key>guangyudaohuo01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1729,0},{278,503}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,503}}</string>
			<key>sourceSize</key>
			<string>{278,503}</string>
		</dict>
		<key>guangyudaohuo02.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,576},{729,597}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{729,597}}</string>
			<key>sourceSize</key>
			<string>{729,597}</string>
		</dict>
		<key>guangyudaohuo03.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,0},{861,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{861,246}}</string>
			<key>sourceSize</key>
			<string>{861,246}</string>
		</dict>
		<key>guangyudaohuo04.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,576},{213,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,109}}</string>
			<key>sourceSize</key>
			<string>{213,109}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>meffect_32.pvr.ccz</string>
		<key>size</key>
		<string>{2007,1744}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f04828f93f0b2825b6ff564179dc8865$</string>
		<key>textureFileName</key>
		<string>meffect_32.pvr.ccz</string>
	</dict>
</dict>
</plist>
