<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icebird_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1280},{320,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,213}}</string>
                <key>sourceSize</key>
                <string>{320,213}</string>
            </dict>
            <key>icebird_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1280},{320,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,241}}</string>
                <key>sourceSize</key>
                <string>{320,241}</string>
            </dict>
            <key>icebird_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,960},{320,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,269}}</string>
                <key>sourceSize</key>
                <string>{320,269}</string>
            </dict>
            <key>icebird_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,320},{320,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,276}}</string>
                <key>sourceSize</key>
                <string>{320,276}</string>
            </dict>
            <key>icebird_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,640},{320,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,293}}</string>
                <key>sourceSize</key>
                <string>{320,293}</string>
            </dict>
            <key>icebird_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1615},{320,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,309}}</string>
                <key>sourceSize</key>
                <string>{320,309}</string>
            </dict>
            <key>icebird_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,960},{320,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,293}}</string>
                <key>sourceSize</key>
                <string>{320,293}</string>
            </dict>
            <key>icebird_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,0},{320,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,284}}</string>
                <key>sourceSize</key>
                <string>{320,284}</string>
            </dict>
            <key>icebird_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,0},{320,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,280}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>icebird_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,320},{320,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,289}}</string>
                <key>sourceSize</key>
                <string>{320,289}</string>
            </dict>
            <key>icebird_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1615},{320,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,304}}</string>
                <key>sourceSize</key>
                <string>{320,304}</string>
            </dict>
            <key>icebird_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{320,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,301}}</string>
                <key>sourceSize</key>
                <string>{320,301}</string>
            </dict>
            <key>icebird_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,0},{320,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,296}}</string>
                <key>sourceSize</key>
                <string>{320,296}</string>
            </dict>
            <key>icebird_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1295},{320,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,304}}</string>
                <key>sourceSize</key>
                <string>{320,304}</string>
            </dict>
            <key>icebird_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,655},{320,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,306}}</string>
                <key>sourceSize</key>
                <string>{320,306}</string>
            </dict>
            <key>icebird_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1615},{320,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,309}}</string>
                <key>sourceSize</key>
                <string>{320,309}</string>
            </dict>
            <key>icebird_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{320,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,325}}</string>
                <key>sourceSize</key>
                <string>{320,325}</string>
            </dict>
            <key>icebird_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,640},{320,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,293}}</string>
                <key>sourceSize</key>
                <string>{320,293}</string>
            </dict>
            <key>icebird_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,975},{320,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,308}}</string>
                <key>sourceSize</key>
                <string>{320,308}</string>
            </dict>
            <key>icebird_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,320},{320,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,298}}</string>
                <key>sourceSize</key>
                <string>{320,298}</string>
            </dict>
            <key>icebird_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,975},{320,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,313}}</string>
                <key>sourceSize</key>
                <string>{320,313}</string>
            </dict>
            <key>icebird_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,320},{320,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,297}}</string>
                <key>sourceSize</key>
                <string>{320,297}</string>
            </dict>
            <key>icebird_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1615},{320,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,304}}</string>
                <key>sourceSize</key>
                <string>{320,304}</string>
            </dict>
            <key>icebird_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1295},{320,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,308}}</string>
                <key>sourceSize</key>
                <string>{320,308}</string>
            </dict>
            <key>icebird_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1295},{320,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,312}}</string>
                <key>sourceSize</key>
                <string>{320,312}</string>
            </dict>
            <key>icebird_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,655},{320,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,315}}</string>
                <key>sourceSize</key>
                <string>{320,315}</string>
            </dict>
            <key>icebird_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,330}}</string>
                <key>sourceSize</key>
                <string>{320,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_45.pvr.ccz</string>
            <key>size</key>
            <string>{1481,1935}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34599628eb2a9099bacbe9efdd5bb482$</string>
            <key>textureFileName</key>
            <string>meffect_45.pvr.ccz</string>
        </dict>
    </dict>
</plist>
