<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daozi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{407,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,251}}</string>
                <key>sourceSize</key>
                <string>{407,251}</string>
            </dict>
            <key>daozi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{397,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,239}}</string>
                <key>sourceSize</key>
                <string>{397,239}</string>
            </dict>
            <key>daozi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{393,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,253}}</string>
                <key>sourceSize</key>
                <string>{393,253}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_41.pvr.ccz</string>
            <key>size</key>
            <string>{407,743}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcdf0ccb1dc9702dc0dd2ffcfd778d70$</string>
            <key>textureFileName</key>
            <string>meffect_41.pvr.ccz</string>
        </dict>
    </dict>
</plist>
