<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meffect_16_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,183},{95,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,114}}</string>
                <key>sourceSize</key>
                <string>{95,114}</string>
            </dict>
            <key>meffect_16_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{183,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,200}}</string>
                <key>sourceSize</key>
                <string>{183,200}</string>
            </dict>
            <key>meffect_16_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,497},{135,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,141}}</string>
                <key>sourceSize</key>
                <string>{135,141}</string>
            </dict>
            <key>meffect_16_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,703},{148,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,153}}</string>
                <key>sourceSize</key>
                <string>{148,153}</string>
            </dict>
            <key>meffect_16_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,632},{158,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,163}}</string>
                <key>sourceSize</key>
                <string>{158,163}</string>
            </dict>
            <key>meffect_16_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,628},{165,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,172}}</string>
                <key>sourceSize</key>
                <string>{165,172}</string>
            </dict>
            <key>meffect_16_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,533},{170,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,179}}</string>
                <key>sourceSize</key>
                <string>{170,179}</string>
            </dict>
            <key>meffect_16_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,359},{174,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,185}}</string>
                <key>sourceSize</key>
                <string>{174,185}</string>
            </dict>
            <key>meffect_16_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,319},{178,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,190}}</string>
                <key>sourceSize</key>
                <string>{178,190}</string>
            </dict>
            <key>meffect_16_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{182,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,195}}</string>
                <key>sourceSize</key>
                <string>{182,195}</string>
            </dict>
            <key>meffect_16_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>meffect_16_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{177,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,236}}</string>
                <key>sourceSize</key>
                <string>{177,236}</string>
            </dict>
            <key>meffect_16_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,497},{131,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,185}}</string>
                <key>sourceSize</key>
                <string>{131,185}</string>
            </dict>
            <key>meffect_16_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,183},{136,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,193}}</string>
                <key>sourceSize</key>
                <string>{136,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_16.pvr.ccz</string>
            <key>size</key>
            <string>{511,851}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:713284e6ea7e6168498553ca278802e8$</string>
            <key>textureFileName</key>
            <string>meffect_16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
