<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{91,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,230}}</string>
                <key>sourceSize</key>
                <string>{91,230}</string>
            </dict>
            <key>iceShatter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,470},{130,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,137}}</string>
                <key>sourceSize</key>
                <string>{130,137}</string>
            </dict>
            <key>iceShatter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{163,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,159}}</string>
                <key>sourceSize</key>
                <string>{163,159}</string>
            </dict>
            <key>iceShatter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,290},{197,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,180}}</string>
                <key>sourceSize</key>
                <string>{197,180}</string>
            </dict>
            <key>iceShatter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,91},{229,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,199}}</string>
                <key>sourceSize</key>
                <string>{229,199}</string>
            </dict>
            <key>iceShatter_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{258,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,216}}</string>
                <key>sourceSize</key>
                <string>{258,216}</string>
            </dict>
            <key>iceShatter_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{212,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,217}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_25.pvr.ccz</string>
            <key>size</key>
            <string>{488,600}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:089539d7b81d11981eb06ad2adc4d99d$</string>
            <key>textureFileName</key>
            <string>meffect_25.pvr.ccz</string>
        </dict>
    </dict>
</plist>
