<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1800},{247,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,229}}</string>
                <key>sourceSize</key>
                <string>{247,229}</string>
            </dict>
            <key>quan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1040},{291,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,259}}</string>
                <key>sourceSize</key>
                <string>{291,259}</string>
            </dict>
            <key>quan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{324,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,296}}</string>
                <key>sourceSize</key>
                <string>{324,296}</string>
            </dict>
            <key>quan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1800},{214,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,220}}</string>
                <key>sourceSize</key>
                <string>{214,220}</string>
            </dict>
            <key>quan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1800},{239,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,260}}</string>
                <key>sourceSize</key>
                <string>{239,260}</string>
            </dict>
            <key>quan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1040},{284,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,307}}</string>
                <key>sourceSize</key>
                <string>{284,307}</string>
            </dict>
            <key>quan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,296},{312,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,352}}</string>
                <key>sourceSize</key>
                <string>{312,352}</string>
            </dict>
            <key>quan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,648},{356,392}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,392}}</string>
                <key>sourceSize</key>
                <string>{356,392}</string>
            </dict>
            <key>tou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>tou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>tou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>tou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1350},{420,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,450}}</string>
                <key>sourceSize</key>
                <string>{420,450}</string>
            </dict>
            <key>tou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1350},{362,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,450}}</string>
                <key>sourceSize</key>
                <string>{362,450}</string>
            </dict>
            <key>tou_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{336,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,447}}</string>
                <key>sourceSize</key>
                <string>{336,447}</string>
            </dict>
            <key>tou_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{336,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,447}}</string>
                <key>sourceSize</key>
                <string>{336,447}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_47.pvr.ccz</string>
            <key>size</key>
            <string>{1229,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95d5ab7c85ae6528bdcdc14590b1d4eb$</string>
            <key>textureFileName</key>
            <string>meffect_47.pvr.ccz</string>
        </dict>
    </dict>
</plist>
