<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daguangsu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,0},{632,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,311}}</string>
                <key>sourceSize</key>
                <string>{632,311}</string>
            </dict>
            <key>daguangsu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,0},{647,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,297}}</string>
                <key>sourceSize</key>
                <string>{647,297}</string>
            </dict>
            <key>daguangsu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{697,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{697,333}}</string>
                <key>sourceSize</key>
                <string>{697,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_38.pvr.ccz</string>
            <key>size</key>
            <string>{1976,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72b5edfdd489f8ce228d73707cde52e7$</string>
            <key>textureFileName</key>
            <string>meffect_38.pvr.ccz</string>
        </dict>
    </dict>
</plist>
