<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>meffevt_15_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,443},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>meffevt_15_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,292},{164,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,149}}</string>
			<key>sourceSize</key>
			<string>{164,149}</string>
		</dict>
		<key>meffevt_15_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,102},{67,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,66}}</string>
			<key>sourceSize</key>
			<string>{67,66}</string>
		</dict>
		<key>meffevt_15_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,0},{102,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,96}}</string>
			<key>sourceSize</key>
			<string>{102,96}</string>
		</dict>
		<key>meffevt_15_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,566},{119,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{119,112}}</string>
			<key>sourceSize</key>
			<string>{121,112}</string>
		</dict>
		<key>meffevt_15_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,441},{159,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,146}}</string>
			<key>sourceSize</key>
			<string>{159,146}</string>
		</dict>
		<key>meffevt_15_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,354},{163,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,150}}</string>
			<key>sourceSize</key>
			<string>{163,150}</string>
		</dict>
		<key>meffevt_15_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,168},{165,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{165,153}}</string>
			<key>sourceSize</key>
			<string>{167,153}</string>
		</dict>
		<key>meffevt_15_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,136},{170,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,156}}</string>
			<key>sourceSize</key>
			<string>{170,156}</string>
		</dict>
		<key>meffevt_15_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,200},{169,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,154}}</string>
			<key>sourceSize</key>
			<string>{169,154}</string>
		</dict>
		<key>meffevt_15_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,321},{122,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,161}}</string>
			<key>sourceSize</key>
			<string>{122,161}</string>
		</dict>
		<key>meffevt_15_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{67,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,216}}</string>
			<key>sourceSize</key>
			<string>{67,216}</string>
		</dict>
		<key>meffevt_15_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,0},{200,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,136}}</string>
			<key>sourceSize</key>
			<string>{200,136}</string>
		</dict>
		<key>meffevt_15_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,67},{176,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,133}}</string>
			<key>sourceSize</key>
			<string>{176,133}</string>
		</dict>
		<key>meffevt_15_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,504},{153,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,114}}</string>
			<key>sourceSize</key>
			<string>{153,114}</string>
		</dict>
		<key>meffevt_15_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,443},{136,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,123}}</string>
			<key>sourceSize</key>
			<string>{136,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>meffevt_15.png</string>
		<key>size</key>
		<string>{512,678}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d7462c248d116459fb8b4949e572cc58$</string>
		<key>textureFileName</key>
		<string>meffevt_15.png</string>
	</dict>
</dict>
</plist>
