<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{381,364}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,364}}</string>
                <key>sourceSize</key>
                <string>{385,368}</string>
            </dict>
            <key>daoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{381,363}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,363}}</string>
                <key>sourceSize</key>
                <string>{385,365}</string>
            </dict>
            <key>daoguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,363},{380,360}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,360}}</string>
                <key>sourceSize</key>
                <string>{384,364}</string>
            </dict>
            <key>kandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{302,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,365}}</string>
                <key>sourceSize</key>
                <string>{302,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meffect_49.pvr.ccz</string>
            <key>size</key>
            <string>{762,723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e784f1c1f2ab1f7d4c0ab18bb1c4d9ce$</string>
            <key>textureFileName</key>
            <string>meffect_49.pvr.ccz</string>
        </dict>
    </dict>
</plist>
