<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nuqitouxiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1428},{201,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,193}}</string>
                <key>sourceSize</key>
                <string>{201,193}</string>
            </dict>
            <key>nuqitouxiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1005},{392,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,277}}</string>
                <key>sourceSize</key>
                <string>{392,277}</string>
            </dict>
            <key>nuqitouxiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,995},{583,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,515}}</string>
                <key>sourceSize</key>
                <string>{583,515}</string>
            </dict>
            <key>nuqitouxiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,524}}</string>
                <key>sourceSize</key>
                <string>{640,524}</string>
            </dict>
            <key>nuqitouxiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,337},{170,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,66}}</string>
                <key>sourceSize</key>
                <string>{170,66}</string>
            </dict>
            <key>nuqitouxiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1005},{423,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,202}}</string>
                <key>sourceSize</key>
                <string>{423,202}</string>
            </dict>
            <key>nuqitouxiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,278},{640,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,276}}</string>
                <key>sourceSize</key>
                <string>{640,276}</string>
            </dict>
            <key>nuqitouxiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{640,315}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,315}}</string>
                <key>sourceSize</key>
                <string>{640,315}</string>
            </dict>
            <key>nuqitouxiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1005},{477,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,134}}</string>
                <key>sourceSize</key>
                <string>{477,134}</string>
            </dict>
            <key>nuqitouxiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,0},{337,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,69}}</string>
                <key>sourceSize</key>
                <string>{337,69}</string>
            </dict>
            <key>nuqitouxiang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{640,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,251}}</string>
                <key>sourceSize</key>
                <string>{640,251}</string>
            </dict>
            <key>nuqitouxiang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,554},{640,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,237}}</string>
                <key>sourceSize</key>
                <string>{640,237}</string>
            </dict>
            <key>nuqitouxiang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,791},{640,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,212}}</string>
                <key>sourceSize</key>
                <string>{640,212}</string>
            </dict>
            <key>nuqitouxiang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,775},{640,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,230}}</string>
                <key>sourceSize</key>
                <string>{640,230}</string>
            </dict>
            <key>nuqitouxiang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,802},{640,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,193}}</string>
                <key>sourceSize</key>
                <string>{640,193}</string>
            </dict>
            <key>nuqitouxiang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,569},{640,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,233}}</string>
                <key>sourceSize</key>
                <string>{640,233}</string>
            </dict>
            <key>nuqitouxiang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,315},{640,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,254}}</string>
                <key>sourceSize</key>
                <string>{640,254}</string>
            </dict>
            <key>nuqitouxiang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{640,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,278}}</string>
                <key>sourceSize</key>
                <string>{640,278}</string>
            </dict>
            <key>nuqitouxiang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1510},{520,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,325}}</string>
                <key>sourceSize</key>
                <string>{520,325}</string>
            </dict>
            <key>nuqitouxiang_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,1003},{344,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,469}}</string>
                <key>sourceSize</key>
                <string>{344,469}</string>
            </dict>
            <key>nuqitouxiang_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1510},{403,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,511}}</string>
                <key>sourceSize</key>
                <string>{403,511}</string>
            </dict>
            <key>nuqitouxiang_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1510},{438,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,528}}</string>
                <key>sourceSize</key>
                <string>{438,528}</string>
            </dict>
            <key>nuqitouxiang_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,1472},{441,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{441,544}}</string>
                <key>sourceSize</key>
                <string>{441,544}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nuqitouxiang.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cebd7b4d1f37765f0ef3fd3fa2133d71$</string>
            <key>textureFileName</key>
            <string>nuqitouxiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
