<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,71},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>nuqiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nuqi.png</string>
            <key>size</key>
            <string>{52,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99173e6b5571987d47f9f7f08623e4b9$</string>
            <key>textureFileName</key>
            <string>nuqi.png</string>
        </dict>
    </dict>
</plist>
