<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quanji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,183}}</string>
                <key>sourceSize</key>
                <string>{62,183}</string>
            </dict>
            <key>quanji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{49,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,161}}</string>
                <key>sourceSize</key>
                <string>{49,161}</string>
            </dict>
            <key>quanji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{51,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,155}}</string>
                <key>sourceSize</key>
                <string>{51,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quanji_d.pvr.ccz</string>
            <key>size</key>
            <string>{62,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c95d130e48977d6ddbbcffa33e633b5$</string>
            <key>textureFileName</key>
            <string>quanji_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
