<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanxingdaoguang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1507},{290,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,252}}</string>
                <key>sourceSize</key>
                <string>{290,252}</string>
            </dict>
            <key>shanxingdaoguang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{449,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,403}}</string>
                <key>sourceSize</key>
                <string>{449,403}</string>
            </dict>
            <key>shanxingdaoguang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,817},{373,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,396}}</string>
                <key>sourceSize</key>
                <string>{373,396}</string>
            </dict>
            <key>shanxingdaoguang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,403},{446,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,400}}</string>
                <key>sourceSize</key>
                <string>{446,400}</string>
            </dict>
            <key>shanxingdaoguang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{528,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,370}}</string>
                <key>sourceSize</key>
                <string>{528,370}</string>
            </dict>
            <key>shanxingdaoguang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{527,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{527,447}}</string>
                <key>sourceSize</key>
                <string>{527,447}</string>
            </dict>
            <key>shanxingdaoguang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,803},{413,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,405}}</string>
                <key>sourceSize</key>
                <string>{413,405}</string>
            </dict>
            <key>shanxingdaoguang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{317,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,395}}</string>
                <key>sourceSize</key>
                <string>{317,395}</string>
            </dict>
            <key>shanxingdaoguang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,817},{92,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,289}}</string>
                <key>sourceSize</key>
                <string>{92,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shanxingdaoguang_d.pvr.ccz</string>
            <key>size</key>
            <string>{977,1797}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e70199ae7bec6c2e545465d7e83f14a$</string>
            <key>textureFileName</key>
            <string>shanxingdaoguang_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
