<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao1_daoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{428,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,409}}</string>
                <key>sourceSize</key>
                <string>{428,409}</string>
            </dict>
            <key>texiao1_daoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{427,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,406}}</string>
                <key>sourceSize</key>
                <string>{427,406}</string>
            </dict>
            <key>texiao1_daoguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,406},{426,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,404}}</string>
                <key>sourceSize</key>
                <string>{426,404}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texiao1_d.pvr.ccz</string>
            <key>size</key>
            <string>{855,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1728f7246e4ee6f121fb6019a489a01$</string>
            <key>textureFileName</key>
            <string>texiao1_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
