<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>texiao3_daoguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,302},{226,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,254}}</string>
                <key>sourceSize</key>
                <string>{226,254}</string>
            </dict>
            <key>texiao3_daoguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{263,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,215}}</string>
                <key>sourceSize</key>
                <string>{263,215}</string>
            </dict>
            <key>texiao3_daoguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,143},{286,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,169}}</string>
                <key>sourceSize</key>
                <string>{286,169}</string>
            </dict>
            <key>texiao3_daoguang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{308,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,143}}</string>
                <key>sourceSize</key>
                <string>{308,143}</string>
            </dict>
            <key>texiao3_daoguang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{302,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,173}}</string>
                <key>sourceSize</key>
                <string>{302,173}</string>
            </dict>
            <key>texiao3_daoguang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{302,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,173}}</string>
                <key>sourceSize</key>
                <string>{302,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texiao3_d.pvr.ccz</string>
            <key>size</key>
            <string>{512,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2078e8947ffe8d9e6c33585cb09195f2$</string>
            <key>textureFileName</key>
            <string>texiao3_d.pvr.ccz</string>
        </dict>
    </dict>
</plist>
