<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zhuangjitx_dlizisan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,1497},{204,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,210}}</string>
			<key>sourceSize</key>
			<string>{204,210}</string>
		</dict>
		<key>zhuangjitx_dlizisan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,1242},{255,264}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,264}}</string>
			<key>sourceSize</key>
			<string>{255,264}</string>
		</dict>
		<key>zhuangjitx_dlizisan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,1662},{301,302}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,302}}</string>
			<key>sourceSize</key>
			<string>{301,302}</string>
		</dict>
		<key>zhuangjitx_dlizisan4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1332},{343,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,330}}</string>
			<key>sourceSize</key>
			<string>{343,330}</string>
		</dict>
		<key>zhuangjitx_dlizisan5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1035},{375,297}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{375,297}}</string>
			<key>sourceSize</key>
			<string>{375,297}</string>
		</dict>
		<key>zhuangjitx_dlizisan6.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,925},{399,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{399,317}}</string>
			<key>sourceSize</key>
			<string>{399,317}</string>
		</dict>
		<key>zhuangjitx_dlizisan7.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,1242},{365,238}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{365,238}}</string>
			<key>sourceSize</key>
			<string>{365,238}</string>
		</dict>
		<key>zhuangjitx_guangbao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,470},{455,470}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,470}}</string>
			<key>sourceSize</key>
			<string>{455,470}</string>
		</dict>
		<key>zhuangjitx_guangbao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,0},{470,485}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{470,485}}</string>
			<key>sourceSize</key>
			<string>{470,485}</string>
		</dict>
		<key>zhuangjitx_guangbao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,531},{504,530}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{504,530}}</string>
			<key>sourceSize</key>
			<string>{504,530}</string>
		</dict>
		<key>zhuangjitx_guangbao4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{531,534}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{531,534}}</string>
			<key>sourceSize</key>
			<string>{531,534}</string>
		</dict>
		<key>zhuangjitx_quansan.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1662},{342,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,342}}</string>
			<key>sourceSize</key>
			<string>{342,342}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhuangjitx.pvr.ccz</string>
		<key>size</key>
		<string>{1019,2004}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:964469c53fbf12f7a6c4a2c9eccdf8d3$</string>
		<key>textureFileName</key>
		<string>zhuangjitx.pvr.ccz</string>
	</dict>
</dict>
</plist>
