<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>bullet_16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,85},{121,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,78}}</string>
                <key>sourceSize</key>
                <string>{121,78}</string>
            </dict>
            <key>bullet_16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,84}}</string>
                <key>sourceSize</key>
                <string>{128,84}</string>
            </dict>
            <key>bullet_16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,78},{125,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,79}}</string>
                <key>sourceSize</key>
                <string>{125,79}</string>
            </dict>
            <key>bullet_16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{126,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,77}}</string>
                <key>sourceSize</key>
                <string>{126,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_16.png</string>
            <key>size</key>
            <string>{256,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f79b72360228e2c46ee09777e982862$</string>
            <key>textureFileName</key>
            <string>bullet_16.png</string>
        </dict>
    </dict>
</plist>
