<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwushengji_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1311},{621,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,234}}</string>
                <key>sourceSize</key>
                <string>{621,234}</string>
            </dict>
            <key>chongwushengji_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,657},{615,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,225}}</string>
                <key>sourceSize</key>
                <string>{615,225}</string>
            </dict>
            <key>chongwushengji_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1244},{521,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,209}}</string>
                <key>sourceSize</key>
                <string>{521,209}</string>
            </dict>
            <key>chongwushengji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1525},{240,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,259}}</string>
                <key>sourceSize</key>
                <string>{240,259}</string>
            </dict>
            <key>chongwushengji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,598},{319,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,344}}</string>
                <key>sourceSize</key>
                <string>{319,344}</string>
            </dict>
            <key>chongwushengji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{316,598}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,598}}</string>
                <key>sourceSize</key>
                <string>{316,598}</string>
            </dict>
            <key>chongwushengji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,649},{313,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,595}}</string>
                <key>sourceSize</key>
                <string>{313,595}</string>
            </dict>
            <key>chongwushengji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1311},{314,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,640}}</string>
                <key>sourceSize</key>
                <string>{314,640}</string>
            </dict>
            <key>chongwushengji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,657},{316,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,654}}</string>
                <key>sourceSize</key>
                <string>{316,654}</string>
            </dict>
            <key>chongwushengji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{318,657}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,657}}</string>
                <key>sourceSize</key>
                <string>{318,657}</string>
            </dict>
            <key>chongwushengji_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,0},{321,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,607}}</string>
                <key>sourceSize</key>
                <string>{321,607}</string>
            </dict>
            <key>chongwushengji_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1310},{291,567}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,567}}</string>
                <key>sourceSize</key>
                <string>{291,567}</string>
            </dict>
            <key>chongwushengji_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,942},{275,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,226}}</string>
                <key>sourceSize</key>
                <string>{275,226}</string>
            </dict>
            <key>chongwushengji_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,0},{260,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{260,207}}</string>
                <key>sourceSize</key>
                <string>{262,207}</string>
            </dict>
            <key>chongwushengji_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1207,1765},{278,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,204}}</string>
                <key>sourceSize</key>
                <string>{278,204}</string>
            </dict>
            <key>chongwushengji_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1217},{275,201}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,201}}</string>
                <key>sourceSize</key>
                <string>{279,201}</string>
            </dict>
            <key>chongwushengji_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,1238},{287,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,199}}</string>
                <key>sourceSize</key>
                <string>{287,199}</string>
            </dict>
            <key>chongwushengji_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,942},{296,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{296,201}}</string>
                <key>sourceSize</key>
                <string>{298,201}</string>
            </dict>
            <key>chongwushengji_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1492},{269,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,202}}</string>
                <key>sourceSize</key>
                <string>{269,202}</string>
            </dict>
            <key>chongwushengji_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1761},{262,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{262,207}}</string>
                <key>sourceSize</key>
                <string>{266,207}</string>
            </dict>
            <key>chongwushengji_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,354},{232,204}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,204}}</string>
                <key>sourceSize</key>
                <string>{236,204}</string>
            </dict>
            <key>chongwushengji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,207},{248,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,147}}</string>
                <key>sourceSize</key>
                <string>{248,147}</string>
            </dict>
            <key>chongwushengji_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1877},{55,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,91}}</string>
                <key>sourceSize</key>
                <string>{55,97}</string>
            </dict>
            <key>chongwushengji_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,315},{102,150}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,150}}</string>
                <key>sourceSize</key>
                <string>{102,156}</string>
            </dict>
            <key>chongwushengji_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1932},{112,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,281}}</string>
                <key>sourceSize</key>
                <string>{112,281}</string>
            </dict>
            <key>chongwushengji_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1765},{111,278}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,278}}</string>
                <key>sourceSize</key>
                <string>{111,284}</string>
            </dict>
            <key>chongwushengji_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1951},{95,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,290}}</string>
                <key>sourceSize</key>
                <string>{95,290}</string>
            </dict>
            <key>chongwushengji_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,942},{93,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,285}}</string>
                <key>sourceSize</key>
                <string>{93,285}</string>
            </dict>
            <key>chongwushengji_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,556},{80,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,229}}</string>
                <key>sourceSize</key>
                <string>{80,229}</string>
            </dict>
            <key>chongwushengji_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,607},{44,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,213}}</string>
                <key>sourceSize</key>
                <string>{44,213}</string>
            </dict>
            <key>chongwushengji_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,607},{42,213}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,213}}</string>
                <key>sourceSize</key>
                <string>{44,213}</string>
            </dict>
            <key>chongwushengji_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1272},{40,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,32}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>chongwushengji_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1244},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>chongwushengji_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,157},{158,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,103}}</string>
                <key>sourceSize</key>
                <string>{158,103}</string>
            </dict>
            <key>chongwushengji_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,0},{157,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,104}}</string>
                <key>sourceSize</key>
                <string>{157,104}</string>
            </dict>
            <key>chongwushengji_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,146},{157,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,142}}</string>
                <key>sourceSize</key>
                <string>{157,142}</string>
            </dict>
            <key>chongwushengji_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1876},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>chongwushengji_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1876},{159,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,158}}</string>
                <key>sourceSize</key>
                <string>{159,158}</string>
            </dict>
            <key>chongwushengji_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1877},{161,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,158}}</string>
                <key>sourceSize</key>
                <string>{161,158}</string>
            </dict>
            <key>chongwushengji_309.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,0},{146,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,158}}</string>
                <key>sourceSize</key>
                <string>{146,158}</string>
            </dict>
            <key>chongwushengji_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1951},{138,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,95}}</string>
                <key>sourceSize</key>
                <string>{138,95}</string>
            </dict>
            <key>chongwushengji_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,0},{124,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,74}}</string>
                <key>sourceSize</key>
                <string>{124,74}</string>
            </dict>
            <key>chongwushengji_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1244},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>chongwushengji_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,74},{138,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,94}}</string>
                <key>sourceSize</key>
                <string>{138,94}</string>
            </dict>
            <key>chongwushengji_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,472},{86,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,69}}</string>
                <key>sourceSize</key>
                <string>{86,69}</string>
            </dict>
            <key>chongwushengji_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,288},{178,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,184}}</string>
                <key>sourceSize</key>
                <string>{178,184}</string>
            </dict>
            <key>chongwushengji_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1765},{90,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,109}}</string>
                <key>sourceSize</key>
                <string>{90,109}</string>
            </dict>
            <key>chongwushengji_405.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,0},{183,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,210}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>chongwushengji_406.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,465},{91,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,98}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>chongwushengji_407.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,0},{183,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,201}}</string>
                <key>sourceSize</key>
                <string>{183,201}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwushengji.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85440aab18b8b8302cbdfdd231376421$</string>
            <key>textureFileName</key>
            <string>chongwushengji.png</string>
        </dict>
    </dict>
</plist>
