<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guale.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,964},{566,48}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{566,48}}</string>
                <key>sourceSize</key>
                <string>{604,54}</string>
            </dict>
            <key>heidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>shuohua.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{494,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{494,48}}</string>
                <key>sourceSize</key>
                <string>{504,54}</string>
            </dict>
            <key>xingxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{452,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,49}}</string>
                <key>sourceSize</key>
                <string>{452,49}</string>
            </dict>
            <key>yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{246,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{246,48}}</string>
                <key>sourceSize</key>
                <string>{254,54}</string>
            </dict>
            <key>zhuren01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{472,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,43}}</string>
                <key>sourceSize</key>
                <string>{472,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiewei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:444b10220cba783206251c8088c1762e$</string>
            <key>textureFileName</key>
            <string>jiewei.png</string>
        </dict>
    </dict>
</plist>
