<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwukaiqi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,589},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>chongwukaiqi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,535},{45,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,54}}</string>
                <key>sourceSize</key>
                <string>{45,54}</string>
            </dict>
            <key>chongwukaiqi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,421},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>chongwukaiqi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,320},{102,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,85}}</string>
                <key>sourceSize</key>
                <string>{102,85}</string>
            </dict>
            <key>chongwukaiqi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,320},{121,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,101}}</string>
                <key>sourceSize</key>
                <string>{121,101}</string>
            </dict>
            <key>chongwukaiqi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{207,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,173}}</string>
                <key>sourceSize</key>
                <string>{207,173}</string>
            </dict>
            <key>chongwukaiqi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,0},{349,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,260}}</string>
                <key>sourceSize</key>
                <string>{349,260}</string>
            </dict>
            <key>chongwukaiqi_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{428,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,320}}</string>
                <key>sourceSize</key>
                <string>{428,320}</string>
            </dict>
            <key>chongwukaiqi_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,260},{342,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,320}}</string>
                <key>sourceSize</key>
                <string>{342,320}</string>
            </dict>
            <key>chongwukaiqi_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{287,285}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{287,285}}</string>
                <key>sourceSize</key>
                <string>{287,287}</string>
            </dict>
            <key>chongwukaiqi_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,535},{207,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,191}}</string>
                <key>sourceSize</key>
                <string>{207,191}</string>
            </dict>
            <key>chongwukaiqi_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,278},{257,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,239}}</string>
                <key>sourceSize</key>
                <string>{257,239}</string>
            </dict>
            <key>chongwukaiqi_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,0},{247,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,278}}</string>
                <key>sourceSize</key>
                <string>{247,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwukaiqi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3c668fd0a9f26aa1172f722ebc4fdad$</string>
            <key>textureFileName</key>
            <string>chongwukaiqi.png</string>
        </dict>
    </dict>
</plist>
