<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianghua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,680},{254,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,362}}</string>
                <key>sourceSize</key>
                <string>{254,362}</string>
            </dict>
            <key>qianghua_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,817},{175,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,218}}</string>
                <key>sourceSize</key>
                <string>{175,218}</string>
            </dict>
            <key>qianghua_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,0},{342,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,422}}</string>
                <key>sourceSize</key>
                <string>{342,422}</string>
            </dict>
            <key>qianghua_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,206},{164,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,201}}</string>
                <key>sourceSize</key>
                <string>{164,201}</string>
            </dict>
            <key>qianghua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,934},{134,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,183}}</string>
                <key>sourceSize</key>
                <string>{134,183}</string>
            </dict>
            <key>qianghua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{303,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,377}}</string>
                <key>sourceSize</key>
                <string>{303,377}</string>
            </dict>
            <key>qianghua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,620},{159,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,197}}</string>
                <key>sourceSize</key>
                <string>{159,197}</string>
            </dict>
            <key>qianghua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{326,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,403}}</string>
                <key>sourceSize</key>
                <string>{326,403}</string>
            </dict>
            <key>qianghua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,0},{166,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,206}}</string>
                <key>sourceSize</key>
                <string>{166,206}</string>
            </dict>
            <key>qianghua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,342},{338,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,419}}</string>
                <key>sourceSize</key>
                <string>{338,419}</string>
            </dict>
            <key>qianghua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,407},{172,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,213}}</string>
                <key>sourceSize</key>
                <string>{172,213}</string>
            </dict>
            <key>qianghua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,431}}</string>
                <key>sourceSize</key>
                <string>{346,431}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianghua.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f59570db7fcd7f74634b40b49e759e9c$</string>
            <key>textureFileName</key>
            <string>qianghua.png</string>
        </dict>
    </dict>
</plist>
