<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qiandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,117},{109,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,101}}</string>
                <key>sourceSize</key>
                <string>{109,101}</string>
            </dict>
            <key>qiandaofaguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{125,117}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{125,117}}</string>
                <key>sourceSize</key>
                <string>{133,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qiandao.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c749b544f3ac953b48912d02be3b2e1$</string>
            <key>textureFileName</key>
            <string>qiandao.png</string>
        </dict>
    </dict>
</plist>
